<script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>


<nav class="navbar navbar-expand-lg navbar-light bg-light mr-auto">
<!--    <a class="navbar-brand" href="#">Navbar</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse navbar-center justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <form class="form-inline">
                    <span jhiTranslate="sign.pdf.choosePageToSign"></span>
                    <select class="form-control mx-sm-2 form-control-sm" name="renderTextMode" [(ngModel)]="renderTextMode"
                            (change)="setSignatureInPage(renderTextMode)">
                        <option [value]="i+1" *ngFor="let item of [].constructor(totalPages); let i = index"
                                selected>{{i + 1}}</option>
                    </select>
                </form>

<!--                <form class="form-inline">-->
<!--                    <span jhiTranslate="sign.pdf.position"></span>-->
<!--                    <span id="xPos" class="mx-2"></span>-->
<!--                    <span id="yPos" class="mr-2"></span>-->
<!--                </form>-->

                <form class="form-inline">
                    <button type="submit" class="btn btn-primary btn-sm mr-2" (click)="sign()"
                            [disabled]="this.signingForm.invalid">
                        <span jhiTranslate="sign.pdf.signFile"></span>
                    </button>

                    <button type="submit" class="btn btn btn-danger btn-sm" (click)="cancel()">
                        <span jhiTranslate="sign.pdf.cancel"></span>
                    </button>
                </form>
            </div>
        </div>
</nav>

<div class="pdf-viewer-wrap">
<!--    <div class="pdf-viewer-controls-wrap">-->
<!--        &lt;!&ndash;        <h2>Ký tệp PDF</h2>&ndash;&gt;-->
<!--        <div class="pdf-viewer-controls">-->
<!--            <div class="pdfv-control">-->
<!--                <span jhiTranslate="sign.pdf.chooseSignatureTemplate"></span>-->
<!--                <select class="form-control form-control-sm" name="renderTextMode" [(ngModel)]="renderTextMode"-->
<!--                        (change)="setSignatureInPage(renderTextMode)">-->
<!--                    <option [value]="i+1" *ngFor="let item of [].constructor(totalPages); let i = index"-->
<!--                            selected>{{i + 1}}</option>-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="pdf-viewer-viewer-window">
        <pdf-viewer [src]=pdfSrc [render-text]="renderText" [render-text-mode]="renderTextMode" [rotation]="rotation"
                    [original-size]="originalSize" [fit-to-page]="fitToPage"
                    [show-all]="showAll" [autoresize]="autoresize" [show-borders]="showBorders"
                    (after-load-complete)="callBackFn($event)" (page-rendered)="pageRendered($event)"
                    (text-layer-rendered)="textLayerRendered($event)" (error)="onError($event)"
                    (on-progress)="onProgress($event)">
        </pdf-viewer>

    </div>
</div>




