<div class="pdf-viewer-wrap">
    <div class="pdf-viewer-controls-wrap">
        <h2>Ký tệp PDF</h2>
        <div class="pdf-viewer-controls">
            <div class="pdfv-control" *ngIf="renderText">
                Search:
                <input #queryInp id="pdfQueryInput" type="text" placeholder="Search..." [value]="pdfQuery"
                       (input)="searchQueryChanged(queryInp.value)" (keyup.enter)="searchQueryChanged(queryInp.value)">
            </div>
            <div class="pdfv-control">
                Select PDF:
                <input (change)="onFileSelected()" type="file" id="file">
                <div>Total Pages:{{totalPages}}</div>
            </div>
            <div class="pdfv-control">
                Chọn trang đặt chữ ký
                <select name="renderTextMode" [(ngModel)]="renderTextMode" (change)="setSignatureInPage(renderTextMode)">
                    <option [value]="i+1" *ngFor="let item of [].constructor(totalPages); let i = index" selected >{{i + 1}}</option>
                </select>
            </div>

            <div class="pdfy-control">
                Vị trí ký
                <label id="xPos"></label>
                <label id="yPos"></label>
            </div>

                <div class="pdfy-control">
                    <button type="submit" class="btn btn-primary btn-sm" (click)="sign()">
                        <span jhiTranslate="sign.pdf.signFile"></span>
                    </button>
                </div>
        </div>
    </div>
    <div class="pdf-viewer-viewer-window">
        <pdf-viewer [src]="pdfSrc" [render-text]="renderText" [render-text-mode]="renderTextMode" [rotation]="rotation"
                    [original-size]="originalSize" [fit-to-page]="fitToPage"
                    [show-all]="showAll" [autoresize]="autoresize" [show-borders]="showBorders"
                    (after-load-complete)="callBackFn($event)" (page-rendered)="pageRendered($event)"
                    (text-layer-rendered)="textLayerRendered($event)" (error)="onError($event)" (on-progress)="onProgress($event)">
        </pdf-viewer>
    </div>
</div>




