.ext-pdf {
  background-color: #0bd59d;
}

.ext-xml {
  background-color: #3a8bf8;
}

.ext-raw {
  color: white;
  background-color: #1a174d;
}

.ext-hash {
  background-color: #3abaf4;
}

.ext-xml {
  background-color: #4dd0e1;
}

.ext-ooml {
  background-color: #28a745;
}

.ext-csr {
  color: white;
  background-color: #533f03;
}

.ext-cert {
  background-color: #745af3;
}

.ext-none {
  display: none;
}
