<div class="card mb-5">
    <form name="searchTransactions" [formGroup]="searchForm" (ngSubmit)="searchTransactions()">
        <div class="card-header">
            <div class="row my-3">
                <div class="col">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="api" ><span
                                    jhiTranslate="webappApp.transaction.api">Api</span></label>
                                <input type="text" class="form-control" formControlName="api">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="method"><span
                                    jhiTranslate="webappApp.transaction.method">Method</span></label>
                                <input type="text" class="form-control" formControlName="method">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="status"><span
                                    jhiTranslate="webappApp.transaction.status">status</span></label>
                                <input type="text" class="form-control" formControlName="status">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="message"><span
                                    jhiTranslate="webappApp.transaction.message">Message</span></label>
                                <input type="text" class="form-control" formControlName="message">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="startDate"><span
                                    jhiTranslate="webappApp.transaction.startDate">Start Date</span></label>
                                <input type="datetime-local" name="date" class="form-control" formControlName="startDate">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="endDate"><span
                                    jhiTranslate="webappApp.transaction.endDate">End Date</span></label>
                                <input type="datetime-local" class="form-control" formControlName="endDate">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="type"><span
                                    jhiTranslate="webappApp.transaction.type">Type</span></label>
                                <input type="text" class="form-control" formControlName="type">
                            </div>
                        </div>
                        <div class="col-md-3">
                        <div class="form-group">
                            <label for="host"> <span
                                jhiTranslate="webappApp.transaction.host">Host</span></label>
                            <input type="text" class="form-control" formControlName="host">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="fullName"><span
                                jhiTranslate="webappApp.transaction.fullName">Full Name</span></label>
                            <input type="text" class="form-control" formControlName="fullName">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="data"><span
                                jhiTranslate="webappApp.transaction.data">Date</span></label>
                            <input type="text" class="form-control" formControlName="data"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">
                <fa-icon icon="search"></fa-icon>
                Search
            </button>
        </div>
    </form>
</div>
<!-- abcd ----------------------------------------------------->
<div>
    <h2 id="page-heading">
        <span jhiTranslate="webappApp.transaction.home.title">Transactions</span>
    </h2>
    <div class="alert alert-warning" id="no-result" *ngIf="transactions?.length === 0">
        <span jhiTranslate="webappApp.transaction.home.notFound">No transactions found</span>
    </div>
    <div class="table-responsive" id="entities" *ngIf="transactions && transactions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                <!-- <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th> -->
                <th scope="col" jhiSortBy="api"><span jhiTranslate="webappApp.transaction.api">Api</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="triggerTime"><span
                    jhiTranslate="webappApp.transaction.triggerTime">Trigger Time</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="status"><span jhiTranslate="webappApp.transaction.status">Status</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="message"><span
                    jhiTranslate="webappApp.transaction.message">Message</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="data"><span jhiTranslate="webappApp.transaction.data">Data</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="type"><span jhiTranslate="webappApp.transaction.type">Type</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="action"><span jhiTranslate="webappApp.transaction.action">Action</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="method"><span jhiTranslate="webappApp.transaction.method">Method</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="host"><span jhiTranslate="webappApp.transaction.host">Host</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="fullName"><span
                    jhiTranslate="webappApp.transaction.fullName">Full Name</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <!-- <th scope="col"></th> -->
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transaction of transactions ;trackBy: trackId">
                <td>{{ transaction.api }}</td>
                <td>{{ transaction.triggerTime | date:"dd/MM/yyyy hh:mm:ss" }}</td>
                <td>
                    <div *ngIf="transaction.status == 1; else elseBlock">SUCCESS</div>
                    <ng-template #elseBlock>FAIL</ng-template>
                </td>
                <td>{{ transaction.message }}</td>
                <td>{{ transaction.data }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.action}}</td>
                <td>{{ transaction.method }}</td>
                <td>{{ transaction.host }}</td>
                <td>{{ transaction.fullName }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="transactions&& transactions.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
    <div class="row justify-content-center">
        <ngb-pagination
            [collectionSize]="totalItems"
            [(page)]="ngbPaginationPage"
            [pageSize]="itemsPerPage"
            [maxSize]="5"
            [rotate]="true"
            [boundaryLinks]="true"
            (pageChange)="loadPage($event)"
        ></ngb-pagination>
    </div>
</div>
</div>
