<ol class="breadcrumb in-page">
    <li class="breadcrumb-item"><a href="./"><span jhiTranslate="global.menu.home">Trang chủ</span></a></li>
    <li class="breadcrumb-item active" aria-current="page"><span jhiTranslate="webappApp.transaction.home.title">Transaction</span>
    </li>
</ol>
<div class="card mb-3 searching">
    <div class="card-body">
        <form name="searchTransactions" [formGroup]="searchForm">
            <div class="row row-cols-5">
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label"><span
                            jhiTranslate="webappApp.transaction.action">Action</span></label>
                        <select class="form-control form-control-sm" name="action" formControlName="action">
                            <option [value]=null selected>--</option>
                            <option jhiTranslate="webappApp.transaction.ACTION.{{name}}"
                                    *ngFor="let name of actions"
                                    [value]="name">{{name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label"><span
                            jhiTranslate="webappApp.transaction.status">Status</span></label>
                        <select class="form-control form-control-sm" name="status" formControlName="status">
                            <option [value]=null selected>--</option>
                            <option jhiTranslate="webappApp.transaction.STATUS.{{name}}"
                                    *ngFor="let name of status"
                                    [value]="name">{{name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label"><span
                            jhiTranslate="webappApp.transaction.startDate">Start Date</span></label>
                        <input type="datetime-local" class="form-control form-control-sm" name="startDate"
                               formControlName="startDate">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label"><span
                            jhiTranslate="webappApp.transaction.endDate">End Date</span></label>
                        <input type="datetime-local" class="form-control form-control-sm" name="endDate"
                               formControlName="endDate">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label"><span
                            jhiTranslate="webappApp.transaction.fullName">Full Name</span></label>
                        <input type="text" class="form-control form-control-sm" name="fullName"
                               formControlName="fullName">
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-sm" (click)="searchTransactions()">
                    <fa-icon icon="search"></fa-icon>
                    <span jhiTranslate="webappApp.transaction.search"></span>
                </button>
            </div>
        </form>
    </div>
</div>

<!-- content ----------------------------------------------------->
<div class="card mb-1">
    <div class="card-body">
        <div class="list-header">
            <div class="left">
                <i class="fa fa-list-ul"></i> <span jhiTranslate="webappApp.transaction.home.title">Transaction</span>
            </div>
            <button type="submit" class="btn btn-primary btn-sm jh-create-entity mr-2"
                    routerLink="/home/transaction/report"
                    [ngStyle]="{  'float': 'right',
                             'margin-right': '40px',
                             'margin-bottom':'15px'}">
                <fa-icon icon="file-excel"></fa-icon>
                <span jhiTranslate="webappApp.transaction.transactionReport.transactionReport"></span>
            </button>
        </div>

        <div class="alert alert-warning" id="no-result" *ngIf="transactions?.length === 0">
            <span jhiTranslate="webappApp.transaction.home.notFound">No transactions found</span>
        </div>
        <div class="table-responsive" id="entities" *ngIf="transactions && transactions.length > 0">
            <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th class="custom-middle-align" scope="col" jhiSortBy="action"><span
                        jhiTranslate="webappApp.transaction.action">Action</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th class="custom-middle-align" scope="col" jhiSortBy="extension"><span
                        jhiTranslate="webappApp.transaction.extension">Extension</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th class="custom-middle-align" scope="col" jhiSortBy="triggerTime"><span
                        jhiTranslate="webappApp.transaction.triggerTime">Trigger Time</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th class="custom-middle-align" scope="col" jhiSortBy="status"><span
                        jhiTranslate="webappApp.transaction.status">Status</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th class="custom-middle-align" scope="col" jhiSortBy="fullName"><span
                        jhiTranslate="webappApp.transaction.fullName">Full Name</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th jhiTranslate="webappApp.transaction.detail.detail" scope="col" class="custom-middle-align">
                        <span>Detail</span></th>
                </tr>
                </thead>
                <tbody>
                <tr
                    *ngFor="let transaction of transactions; trackBy: trackId">
                    <td class="custom-middle-align">
                        <span class="badge badge-success"
                              jhiTranslate="webappApp.transaction.ACTION.{{transaction.action}}">
                            {{transaction.action}}</span>
                    </td>
                    <td class="custom-middle-align">
                        <span class="badge {{transform(transaction.extension)}}">{{transaction.extension}}</span>
                    </td>
                    <td class="custom-middle-align">{{ transaction.triggerTime | date:"dd/MM/yyyy hh:mm:ss" }}</td>
                    <td class="custom-middle-align">
                        <fa-icon icon="check-circle" *ngIf="transaction.status == 'SUCCESS'"
                                 class="text-success"></fa-icon>
                        <fa-icon icon="ban" *ngIf="transaction.status == 'FAIL'" class="text-danger"></fa-icon>
                    </td>
                    <td class="custom-middle-align">{{ transaction.fullName }}</td>

                    <td class="custom-middle-align">
                        <div class="btn-group">
                            <button type="button" (click)="detail(transaction)" class="btn btn-warning btn-sm"
                                    ngbTooltip="{{ 'webappApp.transaction.detail.detail' | translate}}">
                                <fa-icon icon="eye"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="transactions && transactions.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination
                    [collectionSize]="totalItems"
                    [(page)]="ngbPaginationPage"
                    [pageSize]="itemsPerPage"
                    [maxSize]="5"
                    [rotate]="true"
                    [boundaryLinks]="true"
                    (pageChange)="loadPage($event)"
                ></ngb-pagination>
            </div>
        </div>
    </div>
</div>
