
<div class="card mb-5" >
    <form name = "userSearch" [formGroup] = "searchForm" (ngSubmit)="searchTransactions()">
    <div class="card-header">
        <div class="row my-3">
            <div class="col">

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="id">ID :</label>
                                <input type="text" class="form-control" formControlName="id" >
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="api">API :</label>
                                <input type="text" class="form-control"  formControlName="api">
                            </div>
                        </div>
                    </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="code">Code :</label>
                                    <input type="text" class="form-control" formControlName="code" >
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="message">Message :</label>
                                    <input type="text" class="form-control" formControlName="message">
                                </div>
                            </div>
                        </div>

            </div>

            <div class="col">


                    <div class="form-group">
                        <label for="data">Data :</label>
                        <input type="text" class="form-control" formControlName="data">
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="type">Type :</label>
                                <input type="text" class="form-control" formControlName="type">
                            </div>
                        </div>

                    </div>



            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary "><fa-icon icon="search"></fa-icon> Search</button>
        </div>
    </div>
    </form>
</div>




<!-- abcd ----------------------------------------------------->



<div>
    <h2 id="page-heading">
        <span jhiTranslate="webappApp.transaction.home.title">Transactions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transaction" [routerLink]="['/transaction/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="webappApp.transaction.home.createLabel">
            Create a new Transaction
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="transactions?.length === 0">
        <span jhiTranslate="webappApp.transaction.home.notFound">No transactions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="transactions && transactions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="api"><span jhiTranslate="webappApp.transaction.api">Api</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="triggerTime"><span jhiTranslate="webappApp.transaction.triggerTime">Trigger Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="webappApp.transaction.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="message"><span jhiTranslate="webappApp.transaction.message">Message</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="data"><span jhiTranslate="webappApp.transaction.data">Data</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span jhiTranslate="webappApp.transaction.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of transactions ;trackBy: trackId">
                    <td><a [routerLink]="['/transaction', transaction.id, 'view']">{{ transaction.id }}</a></td>
                    <td>{{ transaction.api }}</td>
                    <td>{{ transaction.triggerTime | date:'medium' }}</td>
                    <td>{{ transaction.code }}</td>
                    <td>{{ transaction.message }}</td>
                    <td>{{ transaction.data }}</td>
                    <td>{{ transaction.type }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/transaction', transaction.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/transaction', transaction.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(transaction)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="transactions && transactions.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
