<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-system-config-category-heading" jhiTranslate="webappApp.systemConfigCategory.home.createOrEditLabel">Create or edit a System Config Category</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="webappApp.systemConfigCategory.configKey" for="field_configKey">Config Key</label>
                    <input type="text" class="form-control" name="configKey" id="field_configKey"
                           formControlName="configKey"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="webappApp.systemConfigCategory.dataType" for="field_dataType">Data Type</label>
                    <input type="text" class="form-control" name="dataType" id="field_dataType"
                           formControlName="dataType"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="webappApp.systemConfigCategory.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
