<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="systemConfigCategory">
            <h2><span jhiTranslate="webappApp.systemConfigCategory.detail.title">System Config Category</span> {{ systemConfigCategory.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="webappApp.systemConfigCategory.configKey">Config Key</span></dt>
                <dd>
                    <span>{{ systemConfigCategory.configKey }}</span>
                </dd>
                <dt><span jhiTranslate="webappApp.systemConfigCategory.dataType">Data Type</span></dt>
                <dd>
                    <span>{{ systemConfigCategory.dataType }}</span>
                </dd>
                <dt><span jhiTranslate="webappApp.systemConfigCategory.description">Description</span></dt>
                <dd>
                    <span>{{ systemConfigCategory.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/system-config-category', systemConfigCategory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
