<div>
    <h2 id="page-heading">
        <span jhiTranslate="webappApp.systemConfig.home.title">System Configs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-system-config" [routerLink]="['/system-config/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="webappApp.systemConfig.home.createLabel">
            Create a new System Config
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="systemConfigs?.length === 0">
        <span jhiTranslate="webappApp.systemConfig.home.notFound">No systemConfigs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="systemConfigs && systemConfigs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="comId"><span jhiTranslate="webappApp.systemConfig.comId">Com Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="key"><span jhiTranslate="webappApp.systemConfig.key">Key</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="value"><span jhiTranslate="webappApp.systemConfig.value">Value</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="webappApp.systemConfig.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataType"><span jhiTranslate="webappApp.systemConfig.dataType">Data Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="activated"><span jhiTranslate="webappApp.systemConfig.activated">Activated</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let systemConfig of systemConfigs ;trackBy: trackId">
                    <td><a [routerLink]="['/system-config', systemConfig.id, 'view']">{{ systemConfig.id }}</a></td>
                    <td>{{ systemConfig.comId }}</td>
                    <td jhiTranslate="webappApp.systemConfig.KEYS.{{systemConfig.key}}">{{ systemConfig.key }}</td>
                    <td>{{ systemConfig.value }}</td>
                    <td>{{ systemConfig.description }}</td>
                    <td jhiTranslate="webappApp.systemConfig.DATATYPES.{{systemConfig.dataType}}">{{ systemConfig.dataType }}</td>
                    <td>{{ systemConfig.activated }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/system-config', systemConfig.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/system-config', systemConfig.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(systemConfig)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="systemConfigs && systemConfigs.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
