<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-system-config-heading" jhiTranslate="webappApp.systemConfig.home.createOrEditLabel">Create or edit a System Config</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="webappApp.systemConfig.comId" for="field_comId">Com Id</label>
                    <input type="number" class="form-control" name="comId" id="field_comId"
                           formControlName="comId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="webappApp.systemConfig.key" for="field_key">Key</label>
<!--                    <input type="text" class="form-control" name="key" id="field_key"-->
<!--                           formControlName="key"/>-->
                    <select class="form-control" id="field_key" name="key" formControlName="key">
                        <option *ngFor="let key of keys" [ngValue]="key" jhiTranslate="webappApp.systemConfig.KEYS.{{key}}" selected>{{key}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="webappApp.systemConfig.dataType" for="field_dataType">Data Type</label>
                    <!--                    <input type="text" class="form-control" name="dataType" id="field_dataType"-->
                    <!--                           formControlName="dataType"/>-->
                    <select class="form-control" id="field_dataType" name="dataType" formControlName="dataType" ngModel (ngModelChange)="changeDataType($event)">
                        <option *ngFor="let dataType of dataTypes" [ngValue]="dataType" jhiTranslate="webappApp.systemConfig.DATATYPES.{{dataType}}" selected >{{dataType}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="webappApp.systemConfig.value" for="field_value">Value</label>
<!--                    <input type="{{valueDataType}}" class="form-control" name="value" id="field_value"-->
<!--                           formControlName="value" />-->
                    <div [ngSwitch]="valueDataType" id="field_value">
                        <div *ngSwitchCase="'STRING'">
                            <input type="text" class="form-control" name="value" formControlName="value">
                        </div>
                        <div *ngSwitchCase="'NUMERIC'">
                            <input type="number" class="form-control" name="value" formControlName="value">
                        </div>
                        <div *ngSwitchCase="'BOOLEAN'">
                            <input type="checkbox" class="form-control" name="value" formControlName="value" checked >
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="webappApp.systemConfig.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="webappApp.systemConfig.activated" for="field_activated">Activated</label>
                    <input type="checkbox" class="form-control" name="activated" id="field_activated"
                           formControlName="activated"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
