.drop-zone {
  font-size: 1.25rem; /* 20 */
  background-color: #ffffff;
  position: relative;
  padding: inherit;
  border: 1px dashed #3a3b45;
  border-radius: 12px;
  width: 100%;
  .dragndrop,
  .icon {
    display: none;
  }

  &.has-drag-n-drop {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;

    -webkit-transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
    transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;

    .icon {
      width: 100%;
      height: 80px;
      fill: #92b0b3;
      display: block;
      margin-bottom: 40px;
    }

    .dragndrop {
      display: inline;
    }

    &.is-over {
      outline-offset: -20px;
      outline-color: #c8dadf;
      background-color: #fff;
    }
  }

  input[type='file'] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    & + label {
      max-width: 80%;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
    }

    &:focus + label {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px;
    }

    &:focus + label strong,
    & + label:hover strong {
      color: #39bfd3;
    }
  }
}

.drop-zone-preview {
  max-width: 100% !important;
  width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  background-image: none !important;
}

img {
  border-radius: 5px;
}

//.verify {
//  position: absolute;
//  right: 0px;
//  top: 10px;
//  height: inherit;
//  width: 180px;
//}

.captcha:hover .reload {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .info {
    margin-top: 20px;
  }
}

.mt-10 {
  margin-top: 10px;
}

.btn-action {
  width: 100%;
}
