<ol class="breadcrumb in-page">
    <li class="breadcrumb-item"><a href="./"><span jhiTranslate="global.menu.home">Trang chủ</span></a></li>
    <li class="breadcrumb-item active" aria-current="page">
        <span jhiTranslate="webappApp.signatureVerify.title">Verify Signature</span>&nbsp;<span> Hash</span>
    </li>
</ol>

<div class="card mb-1">
    <div class="card-body">
        <div class="form-group col-md-12 uploadFormGroup">


            <form name="editForm" [formGroup]="editForm">
                <div class="form-group">
                    <label class="form-control-label" for="field_base64Signature"
                           jhiTranslate="webappApp.signatureVerify.signature">Base 64 Signature</label>
                    <input type="text" class="form-control" id="field_base64Signature" name="base64Signature"
                           formControlName="base64Signature"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_base64OriginalData"
                           jhiTranslate="webappApp.signatureVerify.originalData">Original Data</label>
                    <input type="text" class="form-control" id="field_base64OriginalData" name="base64OriginalData"
                           formControlName="base64OriginalData"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_serial">Serial</label>
                    <div ngbDropdown class="d-block">
                        <input #part type="text" id="field_serial" class="form-control form-control-sm" name="serial" formControlName="serial" ngbDropdownToggle
                               value="{{serial}}"
                               placeholder="Select serial"
                               (keyup)="filter(part.value)"
                        />
                        <div
                            *ngIf="(editForm.get('serial')!.invalid && (editForm.get('serial')!.dirty || editForm.get('serial')!.touched))">
                            <small
                                class="form-text text-danger"
                                *ngIf="editForm.get('serial')?.errors?.required"
                                jhiTranslate="sign.messages.validate.serial.required"
                            >
                                Your serial is required.
                            </small>
                        </div>
                        <div ngbDropdownMenu style="width: 100%; max-height: 200px; overflow: scroll; height: fit-content"
                             (scroll)="getMoreCert($event)">
                            <div *ngIf="listCertificate.length !== 0; else nothing">
                                <div ngbDropdownItem *ngFor="let cert of listCertificate"
                                     (click)="selectSerial(cert.serial||'')"
                                     style="cursor: pointer">
                                    {{cert.serial}} <br> {{cert.subjectInfo}}
                                </div>
                            </div>
                            <ng-template #nothing ngbDropdownItem>Don't have any certificate matches</ng-template>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="captcha-text-label" for="captcha-text">Captcha</label>
                    <div class="row">
                        <div class="col-md-2"><img alt="captcha" src="{{img}}"/>
                            <span class="reload" (click)="reloadCaptcha()"><fa-icon icon="sync"></fa-icon></span>
                        </div>
                        <div class="col-md-3 mt-10"><input id="captcha-text" type="text" class="form-control" formControlName="text"/></div>
                        <div class="col-md-4 col-xs-12 mt-10">
                            <button
                                class="btn-action btn btn-success"
                                (click)="verifyHash()">
                                <span jhiTranslate="webappApp.signatureVerify.verify">Verify</span>
                            </button>
                        </div>
                    </div>
                </div>
<!--                <div class="form-group text-center">-->
<!--                    <button-->
<!--                        class="btn-action btn btn-success"-->
<!--                        (click)="verifyHash()">-->
<!--                        <span jhiTranslate="webappApp.signatureVerify.verify">Verify</span>-->
<!--                    </button>-->
<!--                </div>-->
            </form>
        </div>
    </div>
</div>
<div class="card mb-1" *ngIf="result">
    <div class="card-body">
        <ul>
            <li><span class="font-weight-bold"
                      jhiTranslate="webappApp.signatureVerify.certificate.title">Certificate</span>: {{certificate}}
            </li>
            <li><span class="font-weight-bold" jhiTranslate="webappApp.signatureVerify.result">Result</span>: {{result}}
            </li>
        </ul>
    </div>
</div>

