.pdf-viewer-wrap {
  display: flex;
  height: 95vh;
  border: 5px solid #cccccc;
}
.pdf-viewer-controls-wrap {
  //border: 5px solid #cccccc;
  width: 20%;
  text-align: center;
}
.pdfv-control {
  background: #f3f3f3;
  padding: 10px;
  border-bottom: 1px solid #cccc;
}
.pdfv-control button {
  //background: #9dff00;
  //border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.pdf-viewer-controls {
  overflow: auto;
}

.pdf-viewer-viewer-window {
  //border: 5px solid #cccccc;
  border-left: 5px solid #cccccc;
  width: 100%;
  overflow: auto;
}
.drop-zone-preview {
  max-width: 100% !important;
  width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  background-image: none !important;
}
