<div class="modal-header">
    <h5 class="modal-title" jhiTranslate="webappApp.transaction.detail.detail">Modal title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
</div>

<div class="modal-body">
    <div class="card">
        <div class="card-body">
            <div class="row mg-top-10">
                <div class="col-md-3">{{'webappApp.transaction.api' | translate}}:</div>
                <div class="col-md-9 font-weight-bold">{{transaction?.api}}</div>
            </div>
            <div class="row mg-top-10">
                <div class="col-md-3">{{'webappApp.transaction.type' | translate}}:</div>
                <div class="col-md-9 font-weight-bold">{{transaction?.type}}</div>
            </div>
            <div class="row mg-top-10">
                <div class="col-md-3">{{'webappApp.transaction.method' | translate}}:</div>
                <div class="col-md-9 font-weight-bold">{{transaction?.method}}</div>
            </div>
            <div class="row mg-top-10">
                <div class="col-md-3">{{'webappApp.transaction.message' | translate}}:</div>
                <div class="col-md-9 font-weight-bold">{{transaction?.message}}</div>
            </div>
            <div class="row mg-top-10">
                <div class="col-md-3">{{'webappApp.transaction.host' | translate}}:</div>
                <div class="col-md-9 font-weight-bold">{{transaction?.host}}</div>
            </div>
            <div class="row mg-top-10">
                <div class="col-md-3">{{'webappApp.transaction.data' | translate}}:</div>
                <div class="col-md-9 font-weight-bold">{{transaction?.data}}</div>
            </div>
        </div>
    </div>
</div>
