<!--<div class="card mb-5" >-->
<!--    <form name = "userSearch">-->
<!--        <div class="card-header">-->
<!--            <div class="row my-3">-->
<!--                <div class="col">-->
<!--                    <form action="/action_page.php">-->
<!--                        <div class="row">-->
<!--                            <div class="col">-->
<!--                                <div class="form-group">-->
<!--                                    <label for="account">Login Account:</label>-->
<!--                                    <input type="email" class="form-control" id="account" formControlName="account" >-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col">-->
<!--                                <div class="form-group">-->
<!--                                    <label for="name">Name:</label>-->
<!--                                    <input type="text" class="form-control" id="name"  formControlName="name">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                    <form action="/action_page.php">-->
<!--                        <div class="row">-->
<!--                            <div class="col">-->
<!--                                <div class="form-group">-->
<!--                                    <label for="ownerId">Owner ID :</label>-->
<!--                                    <input type="text" class="form-control" id="ownerId" formControlName="ownerId" >-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col">-->
<!--                                <div class="form-group">-->
<!--                                    <label for="commonName">Common Name :</label>-->
<!--                                    <input type="text" class="form-control" id="commonName" formControlName="commonName">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->

<!--                <div class="col">-->
<!--                    <form action="/action_page.php">-->

<!--                        <div class="form-group">-->
<!--                            <label for="email">Email :</label>-->
<!--                            <input type="email" class="form-control" id="email" formControlName="email">-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="col">-->
<!--                                <div class="form-group">-->
<!--                                    <label for="country">Country:</label>-->
<!--                                    <input type="text" class="form-control" id="country" formControlName="country">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col">-->
<!--                                <div class="form-group">-->
<!--                                    <label for="phone">Phone:</label>-->
<!--                                    <input type="text" class="form-control" id="phone" formControlName="phone">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->


<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="text-center">-->
<!--                <button type="submit" class="btn btn-primary "><fa-icon icon="search"></fa-icon> Search</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
<div>
    <h2 id="page-heading">
        <span jhiTranslate="webappApp.certificate.home.title">Certificates</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-certificate" [routerLink]="['/certificate/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="webappApp.certificate.home.createLabel">
            Create a new Certificate
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="certificates?.length === 0">
        <span jhiTranslate="webappApp.certificate.home.notFound">No certificates found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="certificates && certificates.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastUpdate"><span jhiTranslate="webappApp.certificate.lastUpdate">Last Update</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tokenType"><span jhiTranslate="webappApp.certificate.tokenType">Token Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="serial"><span jhiTranslate="webappApp.certificate.serial">Serial</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ownerTaxcode"><span jhiTranslate="webappApp.certificate.ownerTaxcode">Owner Taxcode</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subjectInfo"><span jhiTranslate="webappApp.certificate.subjectInfo">Subject Info</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="alias"><span jhiTranslate="webappApp.certificate.alias">Alias</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tokenInfoDTO"><span jhiTranslate="webappApp.certificate.tokenInfoDTO">Token Info</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="activeStatus"><span jhiTranslate="webappApp.certificate.activeStatus">Active Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="validDate"><span jhiTranslate="webappApp.certificate.validDate">Valid Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="expiredDate"><span jhiTranslate="webappApp.certificate.expiredDate">Expired Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let certificate of certificates ;trackBy: trackId">
                    <td><a [routerLink]="['/certificate', certificate.id, 'view']">{{ certificate.id }}</a></td>
                    <td>{{ certificate.lastUpdate }}</td>
                    <td>{{ certificate.tokenType }}</td>
                    <td>{{ certificate.serial }}</td>
                    <td>{{ certificate.ownerTaxcode }}</td>
                    <td>{{ certificate.subjectInfo }}</td>
                    <td>{{ certificate.alias }}</td>
                    <td>{{ certificate.tokenInfo }}</td>
                    <div *ngIf="certificate.activeStatus == 1; else elseBlock">Đã kích hoạt</div>
                    <ng-template #elseBlock>Chưa kích hoạt</ng-template>
                    <td>{{ certificate.validDate | date:"MM/dd/yy hh:mm:ss" }}</td>
                    <td>{{ certificate.expiredDate | date:"MM/dd/yy hh:mm:ss" }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/certificate', certificate.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/certificate', certificate.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="updateStatus(certificate.id)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="webappApp.certificate.deactive">Deactive</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="certificates && certificates.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>


