<ol class="breadcrumb in-page">
    <li class="breadcrumb-item"><a href="./"><span jhiTranslate="global.menu.home">Trang chủ</span></a></li>
    <li class="breadcrumb-item active" aria-current="page"><span jhiTranslate="webappApp.certificate.home.title">Certificates</span></li>
</ol>
<div class="card mb-3 searching">
    <div class="card-body">
        <form name="userSearch" role="form" novalidate [formGroup]="certificateSearch">
            <div class="row row-cols-5">
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label"><span
                            jhiTranslate="webappApp.certificate.alias">Alias</span></label>
                        <input type="text" class="form-control form-control-sm" name="alias" formControlName="alias">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label"><span
                            jhiTranslate="webappApp.certificate.ownerId">Owner ID</span></label>
                        <input type="text" class="form-control form-control-sm" name="ownerId"
                               formControlName="ownerId">
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label"><span
                            jhiTranslate="webappApp.certificate.serial">Serial</span></label>
                        <input type="text" class="form-control form-control-sm" name="serial" formControlName="serial">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label"><span
                            jhiTranslate="webappApp.certificate.validDate">Valid Date</span></label>
                        <input type="date" class="form-control form-control-sm" name="validDate"
                               formControlName="validDate">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label"><span jhiTranslate="webappApp.certificate.expiredDate">Expired Date</span></label>
                        <input type="date" class="form-control form-control-sm" name="expiredDate"
                               formControlName="expiredDate">
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-sm" (click)="searchCertificate(1)">
                    <fa-icon icon="search"></fa-icon>
                    <span jhiTranslate="webappApp.certificate.search"></span>
                </button>
            </div>
        </form>
    </div>
</div>
<div class="card mb-1">
    <div class="card-body">
        <div class="list-header">
            <div class="left">
                <i class="fa fa-list-ul"></i> <span jhiTranslate="webappApp.certificate.home.title">Certificates</span>
            </div>
            <div class="right">
                <button type="submit" class="btn btn-primary btn-sm jh-create-entity mr-2"
                        (click)="openModalGenerateCSR()" *ngIf="isSuperAdmin()">
                    <fa-icon icon="download"></fa-icon>
                    <span jhiTranslate="webappApp.certificate.generateCSR.generateCsr"></span>
                </button>

                <button type="submit" class="btn btn-primary btn-sm jh-create-entity mr-2"
                        (click)="openModalUploadCert()">
                    <fa-icon icon="upload"></fa-icon>
                    <span jhiTranslate="webappApp.certificate.installCertIntoHsm.title"></span>
                </button>
                <button type="submit" class="btn btn-primary btn-sm jh-create-entity mr-2"
                        (click)="openModalP12Upload()" *ngIf="isSuperAdmin()">
                    <fa-icon icon="upload"></fa-icon>
                    <span jhiTranslate="webappApp.certificate.uploadP12Cert"></span>
                </button>

                <button type="submit" class="btn btn-primary btn-sm jh-create-entity mr-2"
                        (click)="openModalUploadSignatureImage()" *ngIf="isSuperAdmin()">
                    <fa-icon icon="upload"></fa-icon>
                    <span jhiTranslate="webappApp.certificate.uploadSignatureImage"></span>
                </button>

                <button type="submit" class="btn btn-primary btn-sm jh-create-entity mr-2"
                        (click)="openModalExportSerial()" *ngIf="isSuperAdmin()">
                    <fa-icon icon="file-excel"></fa-icon>
                    <span jhiTranslate="webappApp.certificate.exportSerial.exportSerial"></span>
                </button>
            </div>
        </div>

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <div class="alert alert-warning" id="no-result" *ngIf="certificates?.length === 0">
            <span jhiTranslate="webappApp.certificate.home.notFound">No certificates found</span>
        </div>

        <div class="card table-responsive" id="entities" *ngIf="certificates && certificates.length > 0">
            <table class="table table-striped table-custom" aria-describedby="page-heading" id="certificate-table">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"><span jhiTranslate="webappApp.certificate.info">Info</span>
                    </th>

                    <th scope="col" jhiSortBy="owner_Id" class="custom-middle-align"><span
                        jhiTranslate="webappApp.certificate.ownerId">Owner ID</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="active_Status" class="custom-middle-align"><span jhiTranslate="webappApp.certificate.activeStatus">Active Status</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="valid_Date" class="custom-middle-align"><span
                        jhiTranslate="webappApp.certificate.validDate">Valid Date</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="expired_Date" class="custom-middle-align"><span jhiTranslate="webappApp.certificate.expiredDate">Expired Date</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" class="custom-middle-align"><span jhiTranslate="webappApp.certificate.action">Action</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let certificate of certificates ;trackBy: trackId">
                    <td>
                        <div><label class="info" jhiTranslate="webappApp.certificate.alias">Định danh: </label>{{ certificate.subjectInfo || certificate.alias }}</div>
                        <div><label class="info" jhiTranslate="webappApp.certificate.serial">Serial: </label>{{ certificate.serial }}</div>
                    </td>
                    <td class="custom-middle-align">{{ certificate.ownerId }}</td>
                    <td class="custom-middle-align">
                        <fa-icon icon="check-circle" *ngIf="certificate.activeStatus == 1" class="green"></fa-icon>
                        <fa-icon icon="ban" *ngIf="certificate.activeStatus !== 1" class="red"></fa-icon>
                    </td>
                    <td class="custom-middle-align">{{ certificate.validDate | date:"MM/dd/yyyy hh:mm:ss" }}</td>
                    <td class="custom-middle-align">{{ certificate.expiredDate | date:"MM/dd/yyyy hh:mm:ss" }}</td>
                    <td class="custom-middle-align">
                        <div class="btn-group">
                            <button type="button" (click)="showOTP(certificate)" *ngIf="isAuthenOTP"
                                    class="btn btn-warning btn-sm" ngbTooltip="{{ 'entity.action.qrcode' | translate}}">
                                <fa-icon icon="qrcode"></fa-icon>
                            </button>

                            <button type="submit" (click)="updateStatus(certificate)"
                                    class="btn btn-danger btn-sm" [disabled]="certificate.activeStatus == 0" ngbTooltip="{{ 'webappApp.certificate.deactive' | translate}}">
                                <fa-icon icon="ban"></fa-icon>
                            </button>

                            <button type="button" (click)="changePIN(certificate)"
                                    class="btn btn-warning btn-sm" ngbTooltip="{{ 'webappApp.certificate.changeCertPIN.header' | translate}}">
                                <fa-icon icon="pencil-alt"></fa-icon>
                            </button>

                            <button type="button" (click)="showImageSign(certificate)"
                                    class="btn btn-secondary btn-sm" ngbTooltip="{{ 'webappApp.signatureImage.showImageSign.showImageSign' | translate}}">
                                <fa-icon icon="eye"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="certificates && certificates.length > 0">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>

            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
                                [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                                (pageChange)="loadPage($event)"></ngb-pagination>
            </div>
        </div>
    </div>
</div>

