<aw-wizard #wizzard>
    <aw-wizard-step stepTitle="Cấu hình">
        <!--        <jhi-upload-doc style="margin-top: 50px" (fileOutPut)="validateFileInput($event)"></jhi-upload-doc>-->
        <!--        <button type="button" class="btn btn-primary btn-sm" awNextStep style="margin-top: -35px" [disabled]="!FileToSign">-->
        <!--            <span jhiTranslate="sign.pdf.next">Next</span></button>-->
        <div class="card mb-1">
            <div class="card-body">
                <form name="editForm" [formGroup]="editForm">
                    <div class="card mb-3">
                        <h5 class="card-header"><span>Chọn tệp ký</span>
                        </h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="uploadFormGroup form-group col-12">

                                    <div class="drop-zone" ngx-dropzone (change)="selectFile($event)" accept=".pdf"
                                         [disableClick]="selectFiles.length!=0">
                                        <ngx-dropzone-label style="font-family: Nunito">
                                            <i class="fas fa-upload fa-2x"></i>
                                            <br>
                                            Kéo thả file pdf cần xác thực vào đây hoặc click để chọn
                                        </ngx-dropzone-label>
                                        <ngx-dropzone-preview class="drop-zone-preview" *ngFor="let f of selectFiles"
                                                              [removable]="true"
                                                              (removed)="removeFile($event)">
                                            <ngx-dropzone-label>
                                                <i class="fas fa-file-word fa-2x"></i>
                                                <label style="font-family: Nunito; font-size-adjust: inherit">
                                                    {{f.name}}
                                                </label>
                                            </ngx-dropzone-label>
                                        </ngx-dropzone-preview>
                                    </div>
                                    <div
                                        *ngIf="selectFiles.length == 0">
                                        <small
                                            class="form-text text-danger text-center"
                                            *ngIf="editForm.get('fileSelect')?.invalid && isShowMessage"
                                        >
                                            Mời bạn chọn file ký.
                                        </small>
                                    </div>

                                    <label class="form-control-label"></label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <!--                    <h5 class="card-header"><span jhiTranslate="userManagement.generalInformation">General Information</span>-->
                        <h5 class="card-header"><span>Thông tin chứng thư số</span>
                        </h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-12">
                                    <!--                                <form name="editForm" [formGroup]="editForm">-->
                                    <input type="text" class="form-control form-control-sm" name="fileSelect" hidden
                                           formControlName="fileSelect"/>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="form-control-label font-weight-bold" for="field_serial" >Serial</label>
                                                <div ngbDropdown class="d-block">
                                                    <input #part type="text" id="field_serial"
                                                           class="form-control form-control-sm" name="serial"
                                                           formControlName="serial" ngbDropdownToggle
                                                           value="{{serial}}"
                                                           placeholder="Select serial"
                                                           (keyup)="filter(part.value)"
                                                           (click)="setDisableButton()"
                                                    />
                                                    <div
                                                        *ngIf="(editForm.get('serial')!.invalid && (editForm.get('serial')!.dirty || editForm.get('serial')!.touched))">
                                                        <small
                                                            class="form-text text-danger"
                                                            *ngIf="editForm.get('serial')?.errors?.required"
                                                            jhiTranslate="sign.messages.validate.serial.required"
                                                        >
                                                            Your serial is required.
                                                        </small>
                                                    </div>
                                                    <div ngbDropdownMenu
                                                         style="width: 100%; max-height: 200px; overflow: scroll; height: fit-content"
                                                         (scroll)="getMoreCert($event)">
                                                        <div *ngIf="listCertificate.length !== 0; else nothing">
                                                            <div ngbDropdownItem *ngFor="let cert of listCertificate"
                                                                 (click)="selectSerial(cert.serial||'')"
                                                                 style="cursor: pointer">
                                                                {{cert.serial}} <br> {{cert.subjectInfo}}
                                                            </div>
                                                        </div>
                                                        <ng-template #nothing ngbDropdownItem>Don't have any certificate
                                                            matches
                                                        </ng-template>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="form-control-label font-weight-bold" for="field_pinCode">Pin
                                                    Code</label>
                                                <input type="password" class="form-control form-control-sm"
                                                       id="field_pinCode" name="pin"
                                                       formControlName="pin" (click)="setDisableButton()"/>
                                                <div
                                                    *ngIf="editForm.get('pin')!.invalid && (editForm.get('pin')!.dirty || editForm.get('pin')!.touched)">
                                                    <small
                                                        class="form-text text-danger"
                                                        *ngIf="editForm.get('pin')?.errors?.required"
                                                        jhiTranslate="sign.messages.validate.pin.required"
                                                    >
                                                        Your pin is required.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <h5 class="card-header"><span>Ảnh chữ ký</span>
                        </h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-12">
                                    <label class="form-control-label font-weight-bold"><span
                                        jhiTranslate="sign.pdf.chooseSignatureTemplate">Chọn mẫu</span></label>
                                    <input type="text" class="form-control form-control-sm" name="templateId"
                                           formControlName="templateId" hidden>
                                    <div class="form-group">
                                        <div class="input-group" style="text-align: left;">
                <span class="input-group-btn" style="display: table-cell">
                                                                <button class="btn btn-default btn-sm btn-primary"
                                                                        (click)="openModalTemplateList()"
                                                                        style="vertical-align: unset; border-color: darkgray; border-radius: 1px;">
                                                                     <span>Danh sách mẫu ...</span>

                                                                </button>
                                                    </span>
                                            <input class="form-control form-control-sm"
                                                   style="border-radius: 1px !important; height: 31px !important;"
                                                   type="text" readonly>
                                        </div>

                                        <!-- Ảnh chữ ký !-->
                                    </div>
                                    <div
                                        *ngIf="editForm.get('templateId')!.invalid && this.isShowMessage">
                                        <small
                                            class="form-text text-danger"
                                            *ngIf="editForm.get('templateId')?.errors?.required"
                                            jhiTranslate="sign.messages.validate.signatureTemplate.required"
                                        >
                                            Your template is required
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                    <div class="form-group col-12 text-center">
                                        <label class="form-control-label font-weight-bold"><span>Ảnh hiển thị</span></label>
                                        <div>
                                            <img #signatureImage class="signatureImage">
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center">
<!--                        <button type="button"-->
<!--                                class="btn btn-primary btn-sm"-->
<!--                                (click)="checkValidatedImage()"-->
<!--                        >-->
<!--                            <span jhiTranslate="sign.pdf.validateSignature">Kiểm tra ảnh chữ ký</span>-->
<!--                        </button>-->

                        <button type="button"
                                class="btn btn-primary btn-sm"
                                [disabled]="true" #nextBtnElement (click)="nextAction()">
                            <span jhiTranslate="sign.pdf.next">Tiếp theo</span>
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </aw-wizard-step>

    <aw-wizard-step stepTitle="Chọn vị trí ký">
        <jhi-pdf-view [pdfSrc]="FileToSign" (cancelEvent)="cancel()" (signEvent)="signResult($event)"
                      [imageSrc]="this.imageSrc" [serial]="this.serial !== undefined ? this.serial : this.editForm.get(['serial'])?.value"
                      [pin]="this.editForm.get('pin')?.value"></jhi-pdf-view>
    </aw-wizard-step>

    <aw-wizard-step stepTitle="Kết quả ký">
        <div class="container">
            <ngx-extended-pdf-viewer [src]="srcPdfResult" [showUnverifiedSignatures]="true"></ngx-extended-pdf-viewer>
        </div>
    </aw-wizard-step>
</aw-wizard>
