<h2>
  <span>Search User</span>
</h2>
<div class="card mb-5">
  <div class="card-header">
    <form name="userSearch" role="form" novalidate (ngSubmit)="searchUser()" [formGroup]="userSearch">
      <div class="row my-3">
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="form-control-label">Login Account:</label>
                <input type="email" class="form-control" name="account" formControlName="account" />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="form-control-label">Name:</label>
                <input type="text" class="form-control" name="name" formControlName="name" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="form-control-label">Owner ID :</label>
                <input type="text" class="form-control" name="ownerId" formControlName="ownerId" />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="form-control-label">Common Name :</label>
                <input type="text" class="form-control" name="commonName" formControlName="commonName" />
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label class="form-control-label">Email :</label>
            <input type="email" class="form-control" name="email" formControlName="email" />
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="form-control-label">Country:</label>
                <input type="text" class="form-control" name="country" formControlName="country" />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="form-control-label">Phone:</label>
                <input type="text" class="form-control" name="phone" formControlName="phone" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">
          <fa-icon icon="search"></fa-icon>
          Search
        </button>
      </div>
    </form>
  </div>
</div>
<div>
  <h2>
    <span id="user-management-page-heading" jhiTranslate="userManagement.home.title">Users</span>
    <button
      type="submit"
      class="btn btn-primary float-right jh-create-entity mr-2"
      (click)="createCSR()"
      [disabled]="this.listId.length == 0"
    >
      <fa-icon icon="plus"></fa-icon>
      Xuất Excel CSR
    </button>
    <button type="submit" class="btn btn-primary float-right jh-create-entity mr-2" (click)="openModal(cancelModal)">
      <fa-icon icon="plus"></fa-icon>
      Upload tệp CER
    </button>
    <button class="btn btn-primary float-right jh-create-entity mr-2" [routerLink]="['./new']">
      <fa-icon icon="plus"></fa-icon>
      <span jhiTranslate="userManagement.home.createLabel">Create a new User</span>
    </button>
  </h2>

  <!-- <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert> -->

  <div class="alert alert-warning" id="no-result" *ngIf="users?.length === 0">
    <span jhiTranslate="userManagement.home.notfound">No User found</span>
  </div>
  <div class="table-responsive" *ngIf="users && users.length > 0">
    <table class="table table-striped" aria-describedby="user-management-page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
          <th><input type="checkbox" name="checkboxAll" (change)="checkAll(this.$event)" /></th>
          <th scope="col" jhiSortBy="id">
            <span jhiTranslate="global.field.id">ID</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="login">
            <span jhiTranslate="userManagement.login">Login</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="userManagement.email">Email</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="organizationUnit">
            <span jhiTranslate="userManagement.ownerId">OwnerId</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="organizationUnit">
            <span jhiTranslate="userManagement.phone">Phone</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="commonName">
            <span jhiTranslate="userManagement.commonName">CommonName</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="organizationName">
            <span jhiTranslate="userManagement.organizationName">OrganizationName</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="organizationUnit">
            <span jhiTranslate="userManagement.organizationUnit">OrganizationUnit</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="localityName">
            <span jhiTranslate="userManagement.localityName">LocalityName</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="stateName">
            <span jhiTranslate="userManagement.stateName">StateName</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="country">
            <span jhiTranslate="userManagement.country">Country</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
          <th scope="col" jhiSortBy="langKey">
            <span jhiTranslate="userManagement.langKey">Lang Key</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"><span jhiTranslate="userManagement.profiles">Profiles</span></th>
          <th scope="col" jhiSortBy="createdDate">
            <span jhiTranslate="userManagement.createdDate">Created Date</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="userManagement.lastModifiedBy">Last Modified By</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedDate">
            <span jhiTranslate="userManagement.lastModifiedDate">Last Modified Date</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngIf="users">
        <tr *ngFor="let user of users; trackBy: trackIdentity">
          <td>
            <input type="checkbox" name="checkboxElement" (change)="changeSelect(this.$event)" value="{{ user.id }}" />
          </td>

          <td>
            <a [routerLink]="['./', user.login, 'view']">{{ user.id }}</a>
          </td>
          <td>{{ user.login }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.ownerId }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.commonName }}</td>
          <td>{{ user.organizationName }}</td>
          <td>{{ user.organizationUnit }}</td>
          <td>{{ user.localityName }}</td>
          <td>{{ user.stateName }}</td>
          <td>{{ user.country }}</td>
          <td>
            <button
              class="btn btn-danger btn-sm"
              (click)="setActive(user, true)"
              *ngIf="!user.activated"
              jhiTranslate="userManagement.deactivated"
            >
              Deactivated
            </button>
            <button
              class="btn btn-success btn-sm"
              (click)="setActive(user, false)"
              *ngIf="user.activated"
              [disabled]="!currentAccount || currentAccount.login === user.login"
              jhiTranslate="userManagement.activated"
            >
              Activated
            </button>
          </td>
          <td>{{ user.langKey }}</td>
          <td>
            <div *ngFor="let authority of user.authorities">
              <span class="badge badge-info">{{ authority }}</span>
            </div>
          </td>
          <td>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</td>
          <td>{{ user.lastModifiedBy }}</td>
          <td>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['./', user.login, 'view']" class="btn btn-info btn-sm">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="button"
                (click)="viewCertificate(user)"
                class="btn btn-warning btn-sm"
                [disabled]="!currentAccount || currentAccount.login === user.login"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="webappApp.certificate.home.title">Certificate</span>
              </button>

              <button type="submit" [routerLink]="['./', user.login, 'edit']" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                type="button"
                (click)="deleteUser(user)"
                class="btn btn-danger btn-sm"
                [disabled]="!currentAccount || currentAccount.login === user.login"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="users">
    <div class="row justify-content-center">
      <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="transition()"
      ></ngb-pagination>
    </div>
  </div>
</div>
<!-- Modal Upload User Excel File -->
<ng-template #cancelModal let-c="close" let-d="dismiss" data-dismiss="modal">
  <div class="modal-header">
    <h5 class="modal-title text-uppercase">Upload User</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group col-md-12">
      <jhi-upload-files></jhi-upload-files>
    </div>
  </div>
  <div class="modal-footer">
    <div class="group-btn">
      <button type="button" class="btn btn-sm" (click)="d('Close')">Hủy</button>
    </div>
  </div>
</ng-template>
