<ol class="breadcrumb in-page">
    <li class="breadcrumb-item"><a href="./"><span jhiTranslate="global.menu.home">Trang chủ</span></a></li>
    <li class="breadcrumb-item active" aria-current="page"><span jhiTranslate="userManagement.home.title">Users</span>
    </li>
</ol>
<div class="card mb-3 searching">
    <div class="card-body">
        <form name="userSearch" role="form" novalidate (ngSubmit)="searchUser()" [formGroup]="userSearch">
            <div class="row row-cols-xl-6 row-cols-md-4 row-cols-sm-1">
                <div class="col">
                    <div class="form-group ">
                        <label class="form-control-label" jhiTranslate="userManagement.login">Login Account:</label>
                        <input type="email" class="form-control form-control-sm" name="account"
                               formControlName="account"/>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="userManagement.fullName"
                        >Name:</label>
                        <input type="text" class="form-control form-control-sm" name="name" formControlName="name"/>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label">Common Name</label>
                        <input type="text" class="form-control form-control-sm" name="commonName"
                               formControlName="commonName"/>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label">Email</label>
                        <input type="email" class="form-control form-control-sm" name="email" formControlName="email"/>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="userManagement.country"
                        >Country:</label>
                        <input type="text" class="form-control form-control-sm" name="country"
                               formControlName="country"/>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="userManagement.phone"
                        >Phone:</label>
                        <input type="text" class="form-control form-control-sm" name="phone" formControlName="phone"/>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-sm">
                    <fa-icon icon="search"></fa-icon>
                    <span jhiTranslate="userManagement.search"></span>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="card mb-1">
    <div class="card-body">
        <div class="list-header">
            <div class="left">
                <i class="fa fa-list-ul"></i> <span jhiTranslate="userManagement.home.title">Users</span>
            </div>

            <div class="right">
                <button
                    type="submit"
                    class="btn btn-primary btn-sm jh-create-entity mr-2"
                    (click)="createCSR()"
                    [disabled]="this.listId.length == 0"
                >
                    <fa-icon icon="file-excel"></fa-icon>
                    <span jhiTranslate="userManagement.home.exportCSR">Xuất Excel CSR</span>
                </button>

                <button type="submit" class="btn btn-primary btn-sm jh-create-entity mr-2"
                        (click)="showUploadComponent()">
                    <fa-icon icon="upload"></fa-icon>
                    <span jhiTranslate="userManagement.home.uploadUser">Upload User</span>
                </button>
                <button class="btn btn-primary btn-sm jh-create-entity mr-2" [routerLink]="['./new']">
                    <fa-icon icon="plus"></fa-icon>
                    <span jhiTranslate="userManagement.home.createLabel">Create a new User</span>
                </button>
                <button type="submit" class="btn btn-primary  btn-sm jh-create-entity mr-2"
                        (click)="openModal(uploadP12)"
                        [disabled]="this.listId.length != 1">
                    <fa-icon icon="upload"></fa-icon>
                    <span >Upload P12</span>
                </button>
            </div>

        </div>

        <div class="alert alert-warning" id="no-result" *ngIf="this.users?.length === 0">
            <span jhiTranslate="userManagement.home.notfound">No User found</span>
        </div>

        <div class="card table-responsive" id="entities" *ngIf="this.users && this.users.length > 0">
            <table class="table table-striped table-custom" aria-describedby="page-heading" id="usermanagement-table">
                <thead jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)">
                <th scope="col" class="custom-middle-align"><input type="checkbox" class="custom-middle-align"
                                                                   name="checkboxAll" (change)="checkAll(this.$event)"/>
                </th>
                <th scope="col" jhiSortBy="login" class="custom-left-align">
                    <span jhiTranslate="userManagement.login">Login</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="commonName" class="custom-left-align">
                    <span jhiTranslate="userManagement.fullName">Full Name</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="activeStatus" class="custom-middle-align"><span
                    jhiTranslate="userManagement.activeStatus">Active Status</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" class="custom-middle-align"><span
                    jhiTranslate="userManagement.role">Role</span>
<!--                    <fa-icon icon="sort"></fa-icon>-->
                </th>
                <th scope="col" class="custom-middle-align"><span
                    jhiTranslate="webappApp.certificate.action">Action</span></th>

                </thead>
                <tbody>
                <tr *ngFor="let user of users; trackBy: trackIdentity">
                    <td class="custom-middle-align">
                        <input type="checkbox" name="checkboxElement" (change)="changeSelect(this.$event)"
                               value="{{ user.id }}"/>
                    </td>
                    <td class="custom-left-align align-middle">{{ user.login }}</td>
                    <td class="custom-left-align align-middle">{{ user.firstName }} {{user.lastName}}</td>

                    <td class="custom-middle-align">
                        <fa-icon icon="check-circle" *ngIf="user.activated" class="green"></fa-icon>
                        <fa-icon icon="ban" *ngIf="!user.activated" class="red"></fa-icon>
                    </td>
                    <td class="custom-middle-align">
                        <div *ngFor="let authority of user.authorities">
                            <span class="badge badge-info">{{ authority }}</span>
                        </div>
                    </td>
                    <td class="custom-middle-align">
                        <div class="btn-group btnAction">
                            <button type="submit" [routerLink]="['./', user.login, 'view']"
                                    class="btn btn-info btn-sm"
                                    ngbTooltip="{{'entity.action.view' | translate}}">
                                <fa-icon icon="eye"></fa-icon>
                            </button>

                            <button
                                type="button"
                                (click)="viewCertificate(user)"
                                class="btn btn-warning btn-sm"
                                [disabled]="!currentAccount || currentAccount.login === user.login"
                                ngbTooltip="{{'webappApp.certificate.home.title' | translate}}"
                            >
                                <fa-icon icon="file-archive"></fa-icon>
                            </button>

                            <button type="submit" [routerLink]="['./', user.login, 'edit']"
                                    queryParamsHandling="merge"
                                    class="btn btn-primary btn-sm"
                                    ngbTooltip="{{'entity.action.edit' | translate}}">
                                <fa-icon icon="pencil-alt"></fa-icon>
                            </button>

                            <button
                                type="button"
                                (click)="deleteUser(user)"
                                class="btn btn-danger btn-sm"
                                [disabled]="!currentAccount || currentAccount.login === user.login"
                                ngbTooltip="{{'entity.action.delete' | translate}}"
                            >
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="users">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>

            <div class="row justify-content-center">
                <ngb-pagination
                    [collectionSize]="totalItems"
                    [(page)]="page"
                    [pageSize]="itemsPerPage"
                    [maxSize]="5"
                    [rotate]="true"
                    [boundaryLinks]="true"
                    (pageChange)="transition()"
                ></ngb-pagination>
            </div>
        </div>
    </div>
</div>

<!-- Modal Upload User Excel File -->
<ng-template #cancelModal let-c="close" let-d="dismiss" data-dismiss="modal">
    <div class="modal-header">
        <h5 class="modal-title"><span jhiTranslate="userManagement.home.uploadUser">Upload User</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Close')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body uploadModalBody">
        <div class="form-group col-md-12 uploadFormGroup">
            <jhi-upload-user (isUploadedSucessfully)="isUploadedSucessfully($event)"></jhi-upload-user>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning shadow rounded btn-sm" (click)="downLoadFileTemplate()">
            <fa-icon icon="download"></fa-icon>
            <span jhiTranslate="userManagement.downloadFileTemp">Download file template</span>
        </button>
        <div class="group-btn float-right">
            <button type="button" class="btn btn-sm" (click)="d('Close')" jhiTranslate="userManagement.home.cancel">
                Cancel
            </button>
        </div>
    </div>
</ng-template>

<!-- Modal Upload P12 -->
<ng-template #uploadP12 let-c="close" let-d="dismiss" data-dismiss="modal">
    <div class="modal-header">

        <h5 class="modal-title"><span jhiTranslate="userManagement.home.uploadP12">Upload p12</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Close')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body uploadModalBody">
        <div class="form-group col-md-12 uploadFormGroup">
            <div *ngIf="currentFile" class="progress mb-2">
                <div
                    class="progress-bar progress-bar-info progress-bar-striped"
                    role="progressbar"
                    attr.aria-valuenow="{{ progress }}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    [ngStyle]="{ width: progress + '%' }"
                >
                    {{ progress }}%
                </div>
            </div>

<!--            <label class="btn btn-default lblUpload overflow-auto">-->
<!--                <input type="file" (change)="selectFile($event)" (click)="onInputClick($event)" class="inputFile"-->
<!--                       accept=".p12"/>-->
<!--            </label>-->

            <div class="custom-file">
                <input type="file" class="custom-file-input" id="validatedCustomFile" (change)="selectFile($event)" >
                <label class="custom-file-label overflow-hidden" for="validatedCustomFile" >{{fileName}}</label>
            </div>
<!--            <div class="pl-3 mt-2">-->
<!--                <label class="mr-2">PIN</label>-->
<!--                <input type="text" [(ngModel)]="pin"  />-->
<!--            </div>-->
            <br>
            <div class="input-group mt-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Pin</span>
                </div>
                <input type="text" aria-label="Pin ..." class="form-control" [(ngModel)]="pin">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="group-btn float-right">
            <button
                class="btn btn-success"
                [disabled]="!selectFiles || this.selectFiles.length == 0"
                (click)="uploadP12File()"
                jhiTranslate="userManagement.home.upload"
            >
                Upload
            </button>
            <button type="button" class="btn btn-sm" (click)="d('Close')" jhiTranslate="userManagement.home.cancel">
                Cancel
            </button>
        </div>
    </div>
</ng-template>
