.mg-top-10 {
  margin-top: 10px;
}

.width-full {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.otp-form {
  width: 100%;
  display: inherit;
}

.rm-pd {
  padding: 0px;
}

.rm-pd-left {
  padding-left: 0px;
}
