<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="signatureTemplate">
            <h2><span jhiTranslate="webappApp.signatureTemplate.detail.title">Signature Template</span> {{ signatureTemplate.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="webappApp.signatureTemplate.signatureImage">Signature Image</span></dt>
<!--                <dd>-->
<!--                    <span>{{ signatureTemplate.signatureImage }}</span>-->
<!--                </dd>-->
                <dt><span jhiTranslate="webappApp.signatureTemplate.userId">User Id</span></dt>
                <dd>
                    <span>{{ signatureTemplate.userId }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/signature-template', signatureTemplate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
