.signatureImage {
  -webkit-box-shadow: 0px 0px 10px 3px rgba(235, 226, 235, 0.96);
  -moz-box-shadow: 0px 0px 10px 3px rgba(235, 226, 235, 0.96);
  box-shadow: 0px 0px 10px 3px rgba(235, 226, 235, 0.96);
}

.form-check {
  margin-top: 28px;
}
