<ol class="breadcrumb in-page">
    <li class="breadcrumb-item"><a href="./"><span jhiTranslate="global.menu.home">Trang chủ</span></a>
    </li>
    <li class="breadcrumb-item active" aria-current="page"><span
        jhiTranslate="webappApp.signatureTemplate.home.title">Signature Template</span>
    </li>
    <li class="breadcrumb-item active" aria-current="page"
        *ngIf="isCreateNew"><span
        jhiTranslate="webappApp.signatureTemplate.home.createLabel">Add</span>
    </li>
    <li class="breadcrumb-item active" aria-current="page" *ngIf="!isCreateNew"><span
        jhiTranslate="userManagement.edit">Edit</span>
    </li>
</ol>
<div class="card mb-3 searching">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-12">
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">

                    <jhi-alert-error></jhi-alert-error>

                    <div class="form-group" [hidden]=true>
                        <label for="id" jhiTranslate="global.field.id">ID</label>
                        <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly #id/>
                    </div>

                    <div class="form-group" hidden>
                        <label class="form-control-label" jhiTranslate="webappApp.signatureTemplate.userId"
                               for="field_userId">User Id</label>
                        <input type="number" class="form-control" name="userId" id="field_userId"
                               formControlName="userId"/>
                    </div>
                    <div>
                        <div class="row">
                            <div class="form-group col-6">
                                <div class="card" style="margin-bottom: 1rem;">
                                    <h5 class="card-header"><span>HTML Template</span></h5>
                                    <textarea rows="10" cols="100" class="form-control" spellcheck="false"
                                              formControlName="htmlTemplate"></textarea>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <label class="form-control-label"
                                                       jhiTranslate="webappApp.signatureTemplate.width">Width</label>
                                                <input type="text" class="form-control form-control-sm" name="name"
                                                       formControlName="width" #width/>
                                            </div>
                                            <div class="col-4">
                                                <label class="form-control-label"
                                                       jhiTranslate="webappApp.signatureTemplate.height">Height</label>
                                                <input type="text" class="form-control form-control-sm" name="name"
                                                       formControlName="height" #height/>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-check">
                                                    <!--                                                <label class="form-control-label"-->
                                                    <!--                                                       jhiTranslate="webappApp.signatureTemplate.transparency">Transparent-->
                                                    <!--                                                    Background</label>-->
                                                    <input type="checkbox" class="form-check-input" name="transparency"
                                                           id="transparency"
                                                           formControlName="transparency"/>
                                                    <label class="form-control-label" for="transparency"
                                                           jhiTranslate="webappApp.signatureTemplate.transparency">
                                                        Transparent
                                                        Background</label>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="col-1">
                                <button type="button"
                                        class="btn btn-primary btn-sm" (click)="getSignatureImage()"
                                        style="margin-top: 30px">
                                    <fa-icon icon="eye"></fa-icon>
                                    <span jhiTranslate="webappApp.signatureTemplate.preview">Preview</span>
                                </button>
                                <button type="button"
                                        class="btn btn-primary btn-sm" (click)="getSignatureImage()"
                                        style="margin-top: 30px">
                                    <fa-icon icon="eye"></fa-icon>
                                    <span jhiTranslate="webappApp.signatureTemplate.previewInPDF">Preview</span>
                                </button>
                            </div>
                            <div class="col-5">
                                <div class="card mb-3 cardCustom" style="min-height: 273px;">
                                    <h5 class="card-header"><span
                                        jhiTranslate="webappApp.signatureTemplate.previewSection">previewSection</span>
                                    </h5>
                                    <div class="card-body" style="background-color: #fafafa">
                                        <div class="row">
                                            <div class="col-12">
                                                <img #signatureImage class="signatureImage">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label>User</label>
                                    <div class="input-group input-group-sm custom-group" (click)="showUserPopUp()">
                                        <input type="hidden" class="form-control form-control-sm" name="userId" formControlName="userId">
                                        <input type="text" class="form-control form-control-sm" [readOnly]="true" name="account" formControlName="account">
                                        <div class="input-group-append input-group-sm">
                                            <span class="input-group-text" id="basic-addon2"><fa-icon icon="id-card"></fa-icon></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label>Core Parser</label>
                                    <select (ngModelChange)="getSignatureImage()" class="form-control form-control-sm" name="coreParser" formControlName="coreParser">
                                        <option [selected]="true" [value]="undefined" [disabled]="true"><span
                                            jhiTranslate="webappApp.signatureTemplate.chooseParser"></span>
                                        </option>
                                        <option *ngFor="let coreParser of coreParsers"
                                                [value]="coreParser.name">{{ coreParser.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" id="cancel-save" class="btn btn-secondary btn-sm"
                                (click)="previousState()">
                            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>

                        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                                class="btn btn-primary btn-sm">
                            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



