<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-signature-template-heading" jhiTranslate="webappApp.signatureTemplate.home.createOrEditLabel">
                Create or edit a Signature Template</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly #id/>
                </div>

                <div class="form-group" hidden>
                    <label class="form-control-label" jhiTranslate="webappApp.signatureTemplate.userId"
                           for="field_userId">User Id</label>
                    <input type="number" class="form-control" name="userId" id="field_userId"
                           formControlName="userId"/>
                </div>

                <div class="row">
                    <div class="form-group col-6">
                        <label class="form-control-label" for="field_userId">Html Template</label>
                        <textarea rows="10" cols="100" class="form-control" spellcheck="false"
                                  formControlName="htmlTemplate"></textarea>
                    </div>
                    <div class="col-6">
                        <label class="form-control-label" for="field_userId">Preview</label>
                        <table class="table table-striped" aria-describedby="page-heading">
                            <thead></thead>
                            <tbody>
                            <tr>
                                <td><div [innerHTML]="this.editForm.get('htmlTemplate')?.value"></div></td>
                            </tr>
                        </table>
                        <div class="row">
                            <div class="form-group col-6">
                                <label class="form-control-label">Width</label>
                                <input type="text" class="form-control form-control-sm" name="name" formControlName="name"/>
                            </div>
                            <div class="form-group col-6">
                                <label class="form-control-label">Heigh</label>
                                <input type="text" class="form-control form-control-sm" name="name" formControlName="name"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <button type="submit"  [disabled]="editForm.invalid || isSaving"
                            class="btn btn-primary">
                        <fa-icon icon="save"></fa-icon>&nbsp;<span>Preview</span>
                    </button>
                </div>
                <div class="form-group">
                    <label>User</label>
                    <select class="form-control form-control-sm" name="user">
                        <option *ngFor="let user of users"
                                [value]="user.id" [defaultSelected]="user.id === id">{{ user.login}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Core Parser</label>
                    <select class="form-control form-control-sm" name="user">
                        <option *ngFor="let coreParser of coreParsers"
                                [value]="coreParser.id">{{ coreParser.name}}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
