USE [master]
GO
/****** Object:  Database [signserver_bvq11]    Script Date: 12/16/2020 9:01:45 AM ******/
CREATE DATABASE [signserver_bvq11]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'signserver_bvq11', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\signserver_bvq11.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'signserver_bvq11_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\signserver_bvq11_log.ldf' , SIZE = 6272KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [signserver_bvq11].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [signserver_bvq11]
GO
/****** Object:  User [ivan]    Script Date: 12/16/2020 9:01:46 AM ******/
CREATE USER [ivan] FOR LOGIN [ivan] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[authority_permission]    Script Date: 12/16/2020 9:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[authority_permission](
	[id] [bigint] NULL,
	[authority_id] [bigint] NOT NULL,
	[permission_id] [varchar](100) NOT NULL,
	[com_id] [bigint] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[certificate]    Script Date: 12/16/2020 9:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[certificate](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[alias] [nvarchar](200) NULL,
	[last_update] [varchar](255) NULL,
	[owner_id] [varchar](255) NULL,
	[raw_data] [varchar](5000) NULL,
	[serial] [varchar](255) NULL,
	[subject_info] [varchar](255) NULL,
	[token_info] [varchar](max) NULL,
	[token_type] [varchar](255) NULL,
	[valid_date] [datetime2](7) NULL,
	[expired_date] [datetime2](7) NULL,
	[active_status] [tinyint] NULL CONSTRAINT [DF__certifica__activ__25869641]  DEFAULT ((1)),
	[com_id] [bigint] NULL,
	[encrypted_pin] [varchar](100) NULL,
	[signature_image_id] [bigint] NULL,
	[secret_key] [varchar](200) NULL,
 CONSTRAINT [PK__certific__3213E83F4DB210C5] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [certificate_id_uindex] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[company]    Script Date: 12/16/2020 9:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[company](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tax_code] [varchar](15) NULL,
	[name] [nvarchar](200) NULL,
	[address] [nvarchar](500) NULL,
	[law_representer] [nvarchar](100) NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](30) NULL,
 CONSTRAINT [PK__company__3213E83FBDB14FBE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [company_id_uindex] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DATABASECHANGELOGLOCK]    Script Date: 12/16/2020 9:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DATABASECHANGELOGLOCK](
	[ID] [int] NOT NULL,
	[LOCKED] [bit] NOT NULL,
	[LOCKGRANTED] [datetime2](7) NULL,
	[LOCKEDBY] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[jhi_authority]    Script Date: 12/16/2020 9:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[jhi_authority](
	[name] [varchar](50) NOT NULL,
	[id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[jhi_persistent_audit_event]    Script Date: 12/16/2020 9:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[jhi_persistent_audit_event](
	[event_id] [bigint] IDENTITY(1,1) NOT NULL,
	[event_date] [datetime2](6) NULL,
	[event_type] [varchar](255) NULL,
	[principal] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[jhi_persistent_audit_evt_data]    Script Date: 12/16/2020 9:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[jhi_persistent_audit_evt_data](
	[event_id] [bigint] NOT NULL,
	[value] [varchar](255) NULL,
	[name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[event_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[jhi_user]    Script Date: 12/16/2020 9:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[jhi_user](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_by] [varchar](50) NOT NULL,
	[created_date] [datetime2](6) NULL,
	[last_modified_by] [varchar](50) NULL,
	[last_modified_date] [datetime2](6) NULL,
	[activated] [bit] NOT NULL,
	[activation_key] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[first_name] [nvarchar](200) NULL,
	[image_url] [varchar](256) NULL,
	[lang_key] [varchar](10) NULL,
	[last_name] [nvarchar](200) NULL,
	[login] [varchar](50) NOT NULL,
	[password_hash] [varchar](60) NOT NULL,
	[reset_date] [datetime2](6) NULL,
	[reset_key] [varchar](20) NULL,
	[organization_name] [nvarchar](200) NULL,
	[common_name] [nvarchar](200) NULL,
	[organization_unit] [nvarchar](200) NULL,
	[locality_name] [nvarchar](200) NULL,
	[state_name] [nvarchar](200) NULL,
	[country] [nvarchar](200) NULL,
	[phone] [varchar](50) NULL,
	[csr_status] [tinyint] NULL CONSTRAINT [DF__jhi_user__csr_st__34C8D9D1]  DEFAULT ((0)),
	[com_id] [bigint] NULL,
 CONSTRAINT [PK__jhi_user__3213E83FFAC712F1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_9y0frpqnmqe7y6mk109vw3246] UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_bycanyquvi09q7fh5pgxrqnku] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[jhi_user_authority]    Script Date: 12/16/2020 9:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[jhi_user_authority](
	[user_id] [bigint] NOT NULL,
	[authority_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[authority_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[permission]    Script Date: 12/16/2020 9:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[permission](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[parent_code] [varchar](10) NULL,
	[code] [varchar](10) NOT NULL,
	[description] [nvarchar](500) NULL,
	[com_id] [bigint] NULL,
 CONSTRAINT [PK__permissi__3213E83F84DDB304] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [permission_code_uindex] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [permission_id_uindex] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[signature_image]    Script Date: 12/16/2020 9:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[signature_image](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[img_data] [varchar](max) NULL,
	[user_id] [bigint] NULL,
	[created_date] [datetime2](6) NULL,
	[last_modified_date] [datetime2](6) NULL,
	[created_by] [varchar](50) NULL,
	[last_modified_by] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [signature_image_id_uindex] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[signature_template]    Script Date: 12/16/2020 9:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[signature_template](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NULL,
	[created_by] [varchar](50) NULL,
	[created_date] [datetime2](6) NULL,
	[last_modified_by] [varchar](50) NULL,
	[last_modified_date] [datetime2](6) NULL,
	[type] [int] NULL,
	[html_template] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[system_config]    Script Date: 12/16/2020 9:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[system_config](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[com_id] [bigint] NULL,
	[config_key] [varchar](300) NULL,
	[config_value] [varchar](300) NULL,
	[description] [varchar](5000) NULL,
	[activated] [bit] NULL,
	[data_type] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [system_config_id_uindex] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[transaction_log]    Script Date: 12/16/2020 9:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[transaction_log](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[api] [varchar](200) NULL,
	[trigger_time] [datetime2](7) NULL,
	[status] [bit] NULL,
	[message] [nvarchar](max) NULL,
	[data] [varchar](max) NULL,
	[type] [varchar](50) NULL,
	[com_id] [bigint] NULL,
	[created_by] [varchar](50) NULL,
	[host] [varchar](50) NULL,
	[method] [varchar](50) NULL,
	[action] [varchar](50) NULL,
	[extension] [varchar](10) NULL,
	[code] [varchar](30) NULL,
 CONSTRAINT [PK__transact__3213E83FB1B2BA20] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [transaction_id_uindex] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[user_authority]    Script Date: 12/16/2020 9:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_authority](
	[user_id] [bigint] NOT NULL,
	[authority_id] [bigint] NOT NULL,
 CONSTRAINT [user_authority_pk] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[authority_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[user_permission]    Script Date: 12/16/2020 9:01:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_permission](
	[id] [bigint] NULL,
	[user_id] [bigint] NULL,
	[permission_id] [bigint] NULL,
	[com_id] [bigint] NULL,
 CONSTRAINT [user_permission_pk] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [certificate_alias_index]    Script Date: 12/16/2020 9:01:46 AM ******/
CREATE NONCLUSTERED INDEX [certificate_alias_index] ON [dbo].[certificate]
(
	[alias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[jhi_persistent_audit_evt_data]  WITH CHECK ADD  CONSTRAINT [FK2ehnyx2si4tjd2nt4q7y40v8m] FOREIGN KEY([event_id])
REFERENCES [dbo].[jhi_persistent_audit_event] ([event_id])
GO
ALTER TABLE [dbo].[jhi_persistent_audit_evt_data] CHECK CONSTRAINT [FK2ehnyx2si4tjd2nt4q7y40v8m]
GO
ALTER TABLE [dbo].[jhi_user_authority]  WITH CHECK ADD  CONSTRAINT [FK290okww5jujghp4el5i7mgwu0] FOREIGN KEY([user_id])
REFERENCES [dbo].[jhi_user] ([id])
GO
ALTER TABLE [dbo].[jhi_user_authority] CHECK CONSTRAINT [FK290okww5jujghp4el5i7mgwu0]
GO
ALTER TABLE [dbo].[jhi_user_authority]  WITH CHECK ADD  CONSTRAINT [FK4psxl0jtx6nr7rhqbynr6itoc] FOREIGN KEY([authority_name])
REFERENCES [dbo].[jhi_authority] ([name])
GO
ALTER TABLE [dbo].[jhi_user_authority] CHECK CONSTRAINT [FK4psxl0jtx6nr7rhqbynr6itoc]
GO
ALTER TABLE [dbo].[signature_template]  WITH CHECK ADD  CONSTRAINT [signature_template_jhi_user_id_fk] FOREIGN KEY([user_id])
REFERENCES [dbo].[jhi_user] ([id])
GO
ALTER TABLE [dbo].[signature_template] CHECK CONSTRAINT [signature_template_jhi_user_id_fk]
GO
USE [master]
GO
