<ol class="breadcrumb in-page">
    <li class="breadcrumb-item"><a href="./"><span jhiTranslate="global.menu.home">Trang chủ</span></a></li>
    <li class="breadcrumb-item active" aria-current="page">
        <span jhiTranslate="webappApp.signatureVerify.title">Verify Signature</span>&nbsp;<span> Raw</span>
    </li>
</ol>

<div class="card mb-1">
    <div class="card-body">
        <div class="form-group col-md-12 uploadFormGroup">
            <form name="editForm" [formGroup]="editForm">
                <div class="form-group">
                    <label class="form-control-label" for="field_base64Signature" jhiTranslate="webappApp.signatureVerify.signature">Base 64 Signature</label>
                    <input type="text" class="form-control" id="field_base64Signature" name="base64Signature" formControlName="base64Signature"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_base64OriginalData" jhiTranslate="webappApp.signatureVerify.originalData">Original Data</label>
                    <input type="text" class="form-control" id="field_base64OriginalData" name="base64OriginalData" formControlName="base64OriginalData" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_serial" jhiTranslate="webappApp.signatureVerify.serial">Serial</label>
                    <select class="form-control" id="field_serial" name="serial" formControlName="serial" size="1">
                        <option class="form-control" jhiTranslate="webappApp.signatureVerify.serial" selected>Serial</option>
                        <option class="form-control" *ngFor="let cert of listCertificate">{{cert.serial}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="captcha-text-label" for="captcha-text">Captcha</label>
                    <div class="captcha">
                        <img alt="captcha" src="{{img}}"/>
                        <div class="reload" (click)="reloadCaptcha()"><fa-icon icon="sync"></fa-icon></div>
                        <input id="captcha-text" type="text" class="form-control" formControlName="text" style="margin-left: 105px;width: 200px;"/>
                    </div>
                </div>
                <button
                    class="btn btn-success"
                    (click)="verifyRaw()">
                    <span jhiTranslate="webappApp.signatureVerify.verify">Verify</span>
                </button>
            </form>
        </div>
    </div>
</div>
<div class="card mb-1" *ngIf="result">
    <div class="card-body">
        <ul>
            <li><span class="font-weight-bold"
                      jhiTranslate="webappApp.signatureVerify.coverWholeDocument">coverWholeDocument</span>:
                <fa-icon *ngIf="result" icon="check" class="text-success"></fa-icon>
                <fa-icon *ngIf="!result" icon="times" class="text-success"></fa-icon>
            </li>
<!--            <li><span class="font-weight-bold"-->
<!--                      jhiTranslate="webappApp.signatureVerify.revision">revision</span>: {{ signatureVfDTO.revision }}-->
<!--            </li>-->
<!--            <li><span class="font-weight-bold"-->
<!--                      jhiTranslate="webappApp.signatureVerify.totalRevision">total revision</span>: {{signatureVfDTO.totalRevision}}-->
<!--            </li>-->
<!--            <li><span class="font-weight-bold"-->
<!--                      jhiTranslate="webappApp.signatureVerify.signTime">sign time</span>: {{signatureVfDTO.signTime}}-->
<!--            </li>-->
<!--            <li><span class="font-weight-bold"-->
<!--                      jhiTranslate="webappApp.signatureVerify.integrity">integrity</span>:-->
<!--                <fa-icon *ngIf="signatureVfDTO.integrity" icon="check" class="text-success"></fa-icon>-->
<!--                <fa-icon *ngIf="!signatureVfDTO.integrity" icon="times" class="text-success"></fa-icon>-->
<!--            </li>-->
            <li><span class="font-weight-bold" jhiTranslate="webappApp.signatureVerify.certificate.title">Certificate</span>:
                <ul >
                    <li><span class="font-weight-bolder"
                              jhiTranslate="webappApp.signatureVerify.certificate.issuer">issuer</span>: {{certificateVfDTO?.issuer}}
                    </li>
                    <li><span class="font-weight-bolder"
                              jhiTranslate="webappApp.signatureVerify.certificate.subjectDn">subjectDn</span>: {{certificateVfDTO?.subjectDn}}
                    </li>
                    <li><span class="font-weight-bolder"
                              jhiTranslate="webappApp.signatureVerify.certificate.validFrom">valid from</span>: {{certificateVfDTO?.validFrom}}
                    </li>
                    <li><span class="font-weight-bolder"
                              jhiTranslate="webappApp.signatureVerify.certificate.validTo">valid to</span>: {{certificateVfDTO?.validTo}}
                    </li>
                    <li><span class="font-weight-bolder"
                              jhiTranslate="webappApp.signatureVerify.certificate.revocationStatus.title">revocation status</span>:
                        <span
                            jhiTranslate="webappApp.signatureVerify.certificate.revocationStatus.{{certificateVfDTO?.revocationStatus}}"></span>
                    </li>
                    <li><span class="font-weight-bolder"
                              jhiTranslate="webappApp.signatureVerify.certificate.currentStatus.title">current status</span>:
                        <span
                            jhiTranslate="webappApp.signatureVerify.certificate.currentStatus.{{certificateVfDTO?.currentStatus}}"></span>
                    </li>
                    <li><span class="font-weight-bolder"
                              jhiTranslate="webappApp.signatureVerify.certificate.signtimeStatus.title">Signtime status</span>:
                        <span
                            jhiTranslate="webappApp.signatureVerify.certificate.signtimeStatus.{{certificateVfDTO?.signTimeStatus}}"></span>
                    </li>
                    <br>
                </ul>
            </li>
        </ul>
    </div>
</div>

