<ol class="breadcrumb in-page">
    <li class="breadcrumb-item"><a href="./"><span jhiTranslate="global.menu.home">Trang chủ</span></a></li>
    <li class="breadcrumb-item active" aria-current="page">
        <span jhiTranslate="webappApp.signatureVerify.title">Verify Signature</span>&nbsp;<span> Xml</span>
    </li>
</ol>


<div class="card mb-1">
    <div class="card-body">
        <div class="form-group col-md-12 uploadFormGroup">
            <div class="drop-zone" ngx-dropzone (change)="selectFile($event)" accept=".xml"
                 [disableClick]="selectFiles.length!=0">
                <ngx-dropzone-label style="font-family: Nunito">
                    <i class="fas fa-upload fa-2x"></i>
                    <br>
                    Kéo thả file xml cần xác thực vào đây hoặc click để chọn
                </ngx-dropzone-label>
                <ngx-dropzone-preview class="drop-zone-preview" *ngFor="let f of selectFiles" [removable]="true"
                                      (removed)="removeFile($event)">
                    <ngx-dropzone-label>
                        <i class="fas fa-file-word fa-2x"></i>
                        <label style="font-family: Nunito; font-size-adjust: inherit">
                            {{f.name}}
                        </label>
                    </ngx-dropzone-label>
                </ngx-dropzone-preview>
            </div>
            <br>
            <div class="verify col">
                <div class="captcha">
                    <img alt="captcha" src="{{img}}"/>
                    <div class="reload fas fa-sync-alt" (click)="reloadCaptcha()"></div>
                </div>
                <input type="text" class="form-control" [(ngModel)]="text">
                <button
                    class="btn btn-success"
                    [disabled]="!selectFiles || this.selectFiles.length == 0"
                    (click)="verifyXml()">
                    <span jhiTranslate="webappApp.signatureVerify.verify">Verify</span>
                </button>

            </div>
        </div>
    </div>
</div>
<div class="card mb-1" *ngIf="signatureVfDTOs">
    <div class="card-body">
        <div>
            <span class="font-weight-bold"
                  jhiTranslate="webappApp.signatureVerify.countingSignTurn"></span>: {{signatureVfDTOs.length}} <br> <br>
            <ul *ngFor="let signatureVfDTO of signatureVfDTOs; let i = index">

<!--                <li> <span class="font-weight-bold"-->
<!--                           jhiTranslate="webappApp.signatureVerify.signOrder">Sign Turn</span>:-->
<!--                </li>-->


                <li><span class="font-weight-bold"
                              jhiTranslate="webappApp.signatureVerify.integrity"></span>:
                    <fa-icon *ngIf="signatureVfDTO.integrity;" icon="check" class="text-success"></fa-icon>
                    <fa-icon *ngIf="!signatureVfDTO.integrity" icon="times" class="text-unsuccess"></fa-icon>
                </li>

                    <li><span class="font-weight-bolder"
                              jhiTranslate="webappApp.signatureVerify.certificate.issuer">issuer</span>: {{signatureVfDTO.certificateVfDTOs![0].issuer}}
                    </li>
                    <li><span class="font-weight-bolder"
                              jhiTranslate="webappApp.signatureVerify.certificate.subjectDn">subjectDn</span>: {{signatureVfDTO.certificateVfDTOs![0]?.subjectDn}}
                    </li>
                    <li><span class="font-weight-bolder"
                              jhiTranslate="webappApp.signatureVerify.certificate.validFrom">valid from</span>: {{signatureVfDTO.certificateVfDTOs![0]?.validFrom}}
                    </li>
                    <li><span class="font-weight-bolder"
                              jhiTranslate="webappApp.signatureVerify.certificate.validTo">valid to</span>: {{signatureVfDTO.certificateVfDTOs![0]?.validTo}}
                    </li>
                    <li><span class="font-weight-bolder"
                              jhiTranslate="webappApp.signatureVerify.certificate.revocationStatus.title">revocation status</span>:
                        <span
                            jhiTranslate="webappApp.signatureVerify.certificate.revocationStatus.{{signatureVfDTO.certificateVfDTOs![0]?.revocationStatus}}"></span>
                    </li>
                    <li><span class="font-weight-bolder"
                              jhiTranslate="webappApp.signatureVerify.certificate.currentStatus.title">current status</span>:
                        <span
                            jhiTranslate="webappApp.signatureVerify.certificate.currentStatus.{{signatureVfDTO.certificateVfDTOs![0]?.currentStatus}}"></span>
                    </li>
                    <br>
            </ul>
        </div>
    </div>
</div>

