<ol class="breadcrumb in-page">
    <li class="breadcrumb-item"><a href="./"><span jhiTranslate="global.menu.home">Trang chủ</span></a></li>
    <li class="breadcrumb-item active" aria-current="page">
        <span jhiTranslate="sign.signXml">Sign XML</span>
    </li>
</ol>

<div class="card mb-1">
    <div class="card-body">
        <div class="form-group col-md-12 uploadFormGroup">
            <form class="form" name="signingForm" [formGroup]="signingForm">
                <div _ngcontent-ehj-c247="" class="row row-cols-12">
                    <div _ngcontent-ehj-c247="" class="col">
                        <div _ngcontent-ehj-c247="" class="form-group">
                            <label _ngcontent-ehj-c247="" class="form-control-label"><span _ngcontent-ehj-c247=""
                                                                                           jhitranslate="webappApp.certificate.alias"
                                                                                           ng-reflect-jhi-translate="webappApp.certificate.alias">Serial</span></label>
                            <div ngbDropdown class="d-block">
                                <input #part type="text" id="field_serial" class="form-control" name="serial" ngbDropdownToggle
                                       value="{{serial}}"
                                       placeholder="Select serial"
                                       (keyup)="filter(part.value)"/>
                                <div ngbDropdownMenu style="width: 100%; max-height: 200px; overflow: scroll; height: fit-content">
                                    <div *ngIf="filterCertificate.length !== 0; else nothing">
                                        <div ngbDropdownItem *ngFor="let cert of filterCertificate"
                                             (click)="selectSerial(cert.serial||'')"
                                             style="cursor: pointer">
                                            {{cert.serial}} <br> {{cert.subjectInfo}}
                                        </div>
                                    </div>
                                    <ng-template #nothing ngbDropdownItem>Don't have any certificate matches</ng-template>
                                </div>
                        </div>
                    </div>
                    </div>
                    <div _ngcontent-ehj-c247="" class="col">
                        <div _ngcontent-ehj-c247="" class="form-group">
                            <label _ngcontent-ehj-c247="" class="form-control-label"><span _ngcontent-ehj-c247=""
                                                                                           jhitranslate="webappApp.certificate.ownerId"
                                                                                           ng-reflect-jhi-translate="webappApp.certificate.ownerId">PIN</span></label>
                            <input _ngcontent-ehj-c247="" type="password" name="pin" formControlName="pin"
                                   class="form-control form-control-label ng-untouched ng-pristine ng-valid"
                                   ng-reflect-name="ownerId">
                        </div>
                    </div>

                </div>
            </form>

            <div class="drop-zone" ngx-dropzone (change)="selectFile($event)" accept=".xml"
                 [disableClick]="selectFiles.length!=0">
                <ngx-dropzone-label style="font-family: Nunito">
                    <i class="fas fa-upload fa-2x"></i>
                    <br>
                    <span jhiTranslate="sign.dragAndDropXML">Kéo thả file xml cần ký vào đây hoặc click để chọn</span>
                </ngx-dropzone-label>
                <ngx-dropzone-preview _ngcontent-gor-c235="" _ngcontent-pty-c235="" _nghost-pty-c150=""
                                      ng-reflect-removable="true" tabindex="0" class="drop-zone-preview"
                                      style="align-items: center; min-width: 95%; border-radius: 5px; display: flex; height: 140px; justify-content: center; margin: 10px; max-width: 100%; min-height: 140px; padding: 0px 20px; position: relative;"
                                      _nghost-gor-c150="" *ngFor="let f of selectFiles" [removable]="true"
                                      (removed)="removeFile($event)">
                    <ngx-dropzone-label>
                        <i class="fas fa-file-pdf fa-2x"></i>
                        <label style="font-family: Nunito; font-size-adjust: inherit">
                            {{f.name}}
                        </label>
                    </ngx-dropzone-label>
                </ngx-dropzone-preview>
            </div>
            <br>
            <div _ngcontent-ehj-c247="" class="signbt col">
                <div _ngcontent-ehj-c247="" class="form-group">
                    <button
                        class="btn btn-success"
                        [disabled]="!selectFiles || this.selectFiles.length == 0"
                        (click)="signxml()">
                        <span>Ký</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-1">
    <div class="card-body">
        <div class="form-group row uploadFormGroup">
            <div class="col-md-2">
               <img src="../../../important-icon.jpg" height="150" width="150"/>
            </div>
            <div class="col-md-10s">
                <span><b style="font-weight:bold; font-size:2em ">Template :&#32;&#32;</b>&lt;?xml version="1.0" encoding="UTF-8"?&gt;&lt;Invoice&gt;&lt;Content&gt;**Nội dung cần ký**&lt;/Content&gt;**Nội dung phụ**&lt;/Invoice&gt;</span>
                <div>
                    <ul>
                        <li>
                            <span>Nội dung cần ký là tập hợp các thẻ XML(có thẻ mở và thẻ đóng)</span>
                            <ul>
                                <li style="list-style-type: none">Ví dụ &#32;: &#32;&#32; &lt;nodename&gt;nội dung&lt;/nodename&gt; với nodename do người dùng tự đặt, tên nodename là chuỗi ký tự viết liền không dấu</li>
                            </ul>
                        </li>
                        <li>các thẻ đóng và mở được viết liền nhau ( không chứa dấu "khoảng trắng" hoặc "xuống dòng")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
