button {
  top: 80px;
  margin: auto;
  width: 100px;
}
.signbt {
  position: absolute;
  right: 40%;
  top: 400px;
  height: inherit;
  width: 180px;
}

.drop-zone-preview {
  max-width: 100% !important;
  width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  background-image: none !important;
}
.btn-down {
  margin-top: 5px;
  margin-right: 5px;
}
