<div class="modal-header">
    <h5 class="modal-title" jhiTranslate="webappApp.certificate.changeCertPIN.header">Modal title</h5>
    <a class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</a>
</div>
<div class="modal-body">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">{{'webappApp.certificate.serial' | translate}}:</div>
                <div class="col-md-9 font-weight-bold">{{certificate?.serial}}</div>
            </div>
            <div class="row mg-top-10">
                <div class="col-md-3">{{'webappApp.certificate.alias' | translate}}:</div>
                <div class="col-md-9 font-weight-bold">{{certificate?.alias}}</div>
            </div>
        </div>
    </div>
    <form [formGroup]="changeCertPINForm">
        <div class="row mt-3">
            <div class="col-12 form-group">
                <h6 jhiTranslate="webappApp.certificate.changeCertPIN.currentPIN">Current PIN</h6>
                <input required="required" class="form-control" type="text" formControlName="currentPINInput"
                       [placeholder]="'webappApp.certificate.changeCertPIN.placeholder' | translate">

                <div
                    *ngIf="changeCertPINForm.get('currentPINInput')!.invalid && (changeCertPINForm.get('currentPINInput')!.dirty || changeCertPINForm.get('currentPINInput')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="changeCertPINForm.get('currentPINInput')?.errors?.required"
                           jhiTranslate="webappApp.certificate.changeCertPIN.required.currentPIN">
                        Your PIN is required.
                    </small>
                </div>
            </div>

        </div>
    </form>
</div>
<!--    footer-->
<div class="modal-footer text-right">
    <div class="col-md-12">
        <button type=submit class="btn btn-success" (click)="changeCertPIN()"
                [disabled]="!changeCertPINForm.valid">
            {{'webappApp.certificate.changeCertPIN.save' | translate}}</button>
        <button type=submit class="btn btn-light" (click)="cancel()">
            {{'webappApp.certificate.changeCertPIN.cancel' | translate}}</button>
    </div>
</div>
