.chartsize {
  height: 400px !important;
  width: 800px !important;
}
.btn_export {
  margin-top: 24px;
  margin-left: -30px;
}

.firstInput {
  width: 90% !important;
}
.secondInput {
  margin-left: 30px !important;
  width: 78% !important;
}

.selectForm {
  width: 80% !important;
  margin-left: 50px !important;
}
