body {
  font-family: sans-serif;
  font-size: 12px;
}

@page {
  size: 210mm 297mm;

  @bottom-left {
    content: element(footer);
    vertical-align: top;
    padding-top: 10px;
  }
  @bottom-right {
    content: counter(page) '/' counter(pages);
    font-family: ConfluenceInstalledFont, Helvetica, Arial, sans-serif;
    font-size: 8pt;
  }
  @bottom-left {
    content: 'Department of SDS';
    font-family: ConfluenceInstalledFont, Helvetica, Arial, sans-serif;
    font-size: 11pt;
    color: lightskyblue;
  }

  @top-center {
    content: element(titleHeaderTable);
  }

  margin-top: 2cm;
  margin-left: 2cm;
  margin-right: 2cm;
  margin-bottom: 3cm;
  size: A4 portrait;
}
#pagenumber:before {
  content: counter(page);
}
#pagecount:before {
  content: counter(pages);
}

.header {
  height: 60px;
  background-color: #e9ebee;
  display: flex !important;
}

.TextTitle {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  width: 90%;
}
.TitleHeader {
  margin-left: 30px;
  padding-top: 2px !important;
}
.tableBoddy {
  margin-top: 30px;
}
.dateRange {
  height: 20px;
  background-color: #e9ebee;
  width: 90%;
  margin-top: 20px !important;
  margin: 0 auto;
}
.table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

.table td {
  border: 1px solid black;
  border-collapse: collapse;
  padding-left: 3px;
}

.table th {
  background-color: #e9ebee;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

.table {
  page-break-inside: auto;
  page-break-inside: avoid;
}
.table th {
  page-break-inside: avoid;
  page-break-after: auto;
}

.table tr {
  page-break-inside: avoid;
  page-break-after: auto;
}

.table thead {
  display: table-header-group;
}
