<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" media="all" href="style.css"/>
</head>
    <body>
        <div class="header">
<!--            <div class="TitleHeader">-->
<!--                <h1>ORACLE</h1>-->
<!--            </div>-->
            <div class="TextTitle">
                <h2>Transaction Report </h2>
            </div>
        </div>
        <div class="dateRange">
            <span> Date range : 13/11/2020-14/11/2020</span>
            <div  class="tableBoddy" >
                <table class="table">
                    <thead class="titleHeaderTable">
                        <tr id="trheader">
                            <th>api</th>
                            <th>code</th>
                            <th>data</th>
                            <th>message</th>
                            <th>type</th>
                        </tr>
                    </thead>
                    <tr th:each="contact : ${listReport}">
                        <td th:text="${contact.api}"></td>
                        <td th:text="${contact.code}"></td>
                        <td th:text="${contact.data}"></td>
                        <td th:text="${contact.message}"></td>
                        <td th:text="${contact.type}"></td>
                    </tr>
                </table>
            </div>

        </div>
    </body>

</html>
