<ul [ngClass]="{'navbar-nav sidebar sidebar-light accordion': true, 'toggled' : !menuToggle.sideBarEnabled}"
    id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/home">
        <div class="sidebar-brand-icon">
            <img class="logo-full" src="/content/images/logo/logo.png">
            <img class="logo-life" src="/content/images/logo/logo.png">
        </div>
        <div class="sidebar-brand-text mx-3"></div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">
            <i class="fas fa-home"></i>
            <span jhiTranslate="global.menu.home">Trang chủ</span></a>
    </li>
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap0"
           aria-expanded="true" aria-controls="collapseBootstrap0">
            <i class="fas fa-edit"></i>
            <span jhiTranslate="global.menu.admin.signing.main">Ký số</span>
        </a>
        <div id="collapseBootstrap0" class="collapse" aria-labelledby="headingBootstrap"
             data-parent="#accordionSidebar">
            <div class="bg-black py-2 collapse-inner rounded">
                <a class="collapse-item" routerLink="/signing/signing-pdf-visible" routerLinkActive="active"><span
                    jhiTranslate="global.menu.admin.signing.pdf">Ký số PDF</span></a>
                <a class="collapse-item" routerLink="/signing/signing-office-invisible" routerLinkActive="active"><span
                    jhiTranslate="global.menu.admin.signing.ooxml">Ký số Office</span></a>
                <a class="collapse-item" routerLink="/developing" routerLinkActive="active"><span
                    jhiTranslate="global.menu.admin.signing.xml">Ký số XML</span></a>
                <a class="collapse-item" routerLink="/signing/rawSigning" routerLinkActive="active"><span
                    jhiTranslate="global.menu.admin.signing.raw">Ký số dữ liệu raw</span></a>
            </div>
        </div>
    </li>
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap1"
           aria-expanded="true" aria-controls="collapseBootstrap1">
            <i class="fas fa-check"></i>
            <span jhiTranslate="global.menu.admin.certVerification.main">Xác thực ký số</span>
        </a>
        <div id="collapseBootstrap1" class="collapse" aria-labelledby="headingBootstrap"
             data-parent="#accordionSidebar">
            <div class="bg-black py-2 collapse-inner rounded">
                <a class="collapse-item" routerLink="/developing" routerLinkActive="active" [hidden]="true"><span
                    jhiTranslate="global.menu.admin.certVerification.cert">Xác thực CTS</span></a>
                <a class="collapse-item" routerLink="/verify/verify-signature-pdf" routerLinkActive="active"><span
                    jhiTranslate="global.menu.admin.certVerification.pdf">Xác thực PDF</span></a>
                <a class="collapse-item" routerLink="/verify/verify-signature-doc" routerLinkActive="active"><span
                    jhiTranslate="global.menu.admin.certVerification.ooxml">Xác thực Office</span></a>
                <a class="collapse-item" routerLink="/verify/verify-signature-xml" routerLinkActive="active"><span
                    jhiTranslate="global.menu.admin.certVerification.xml">Xác thực XML</span></a>
                <a class="collapse-item" routerLink="/verify/verify-signature-hash" routerLinkActive="active"><span
                    jhiTranslate="global.menu.admin.certVerification.hash">Xác thực Hash</span></a>
                <a class="collapse-item" routerLink="/verify/verify-signature-raw" routerLinkActive="active"><span
                    jhiTranslate="global.menu.admin.certVerification.raw">Xác thực dữ liệu raw</span></a>
            </div>
        </div>
    </li>
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap2"
           aria-expanded="true" aria-controls="collapseBootstrap2">
            <i class="fas fa-tasks"></i>
            <span jhiTranslate="global.menu.admin.main">Quản trị</span>
        </a>
        <div id="collapseBootstrap2" class="collapse" aria-labelledby="headingBootstrap"
             data-parent="#accordionSidebar">
            <div class="bg-black py-2 collapse-inner rounded">
                <div>
                    <a class="nav-link collapsed collapse-item" href="#" data-toggle="collapse" data-target="#certificateType"
                       aria-expanded="true" aria-controls="certificateType">
                        <span style="font-size: 14.4px !important;" jhiTranslate="global.menu.entities.certificate-management">Certificate management</span>
                    </a>
                    <div id="certificateType" class="collapse" aria-labelledby="headingBootstrap" data-parent="#collapseBootstrap2">
                        <div class="bg-black py-2 collapse-inner rounded">
                            <a class="collapse-item" routerLink="/home/certificate" routerLinkActive="active"><span jhiTranslate="global.menu.entities.certificate">Certificate</span></a>
                            <a class="collapse-item" routerLink="/home/rs-certificate" routerLinkActive="active"><span jhiTranslate="global.menu.entities.Rs-certificate">RS Certificate</span></a>
                        </div>
                    </div>
                </div>
                <a class="collapse-item" routerLink="/home/transaction" routerLinkActive="active"
                   [routerLinkActiveOptions]="{ exact: true }"><span jhiTranslate="global.menu.entities.transaction">Lịch sử giao dịch</span></a>
                <a class="collapse-item" routerLink="/home/transaction/report" routerLinkActive="active"><span
                    jhiTranslate="global.menu.entities.report">Thống kê báo cáo</span></a>
                <a class="collapse-item" routerLink="/admin/user-management" routerLinkActive="active"><span
                    jhiTranslate="global.menu.admin.userManagement">User management</span></a>
                <a class="collapse-item" routerLink="/home/signature-template" routerLinkActive="active"><span
                >Template management</span></a>
                <a class="collapse-item" routerLink="/home/system-config" routerLinkActive="active"><span
                    jhiTranslate="global.menu.entities.systemConfig">Cấu hình hệ thống</span></a>
                <a class="collapse-item" routerLink="/admin/health" routerLinkActive="active"><span
                    jhiTranslate="global.menu.admin.health">Health</span></a>
                <a class="collapse-item" routerLink="/admin/metrics" routerLinkActive="active"><span
                    jhiTranslate="global.menu.admin.metrics">Metrics</span></a>
            </div>
        </div>
    </li>
    <!--    <li class="nav-item">-->
    <!--        <a class="nav-link" href="#">-->
    <!--            <i class="fas fa-search"></i>-->
    <!--            <span>Tìm kiếm</span>-->
    <!--        </a>-->
    <!--    </li>-->
    <li class="nav-item">
        <a class="nav-link" routerLink="/developing" routerLinkActive="active">
            <i class="fas fa-question-circle"></i>
            <span jhiTranslate="global.menu.admin.question">Câu hỏi thường gặp</span>
        </a>
    </li>
</ul>
