<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="otpHistory">
            <h2><span jhiTranslate="webappApp.otpHistory.detail.title">Otp History</span> {{ otpHistory.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="webappApp.otpHistory.userId">User Id</span></dt>
                <dd>
                    <span>{{ otpHistory.userId }}</span>
                </dd>
                <dt><span jhiTranslate="webappApp.otpHistory.comId">Com Id</span></dt>
                <dd>
                    <span>{{ otpHistory.comId }}</span>
                </dd>
                <dt><span jhiTranslate="webappApp.otpHistory.secretKey">Secret Key</span></dt>
                <dd>
                    <span>{{ otpHistory.secretKey }}</span>
                </dd>
                <dt><span jhiTranslate="webappApp.otpHistory.otp">Otp</span></dt>
                <dd>
                    <span>{{ otpHistory.otp }}</span>
                </dd>
                <dt><span jhiTranslate="webappApp.otpHistory.actionTime">Action Time</span></dt>
                <dd>
                    <span>{{ otpHistory.actionTime }}</span>
                </dd>
                <dt><span jhiTranslate="webappApp.otpHistory.expireTime">Expire Time</span></dt>
                <dd>
                    <span>{{ otpHistory.expireTime }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/otp-history', otpHistory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
