<div class="modal-header">
    <h4 class="modal-title">Hỗ trợ sử dụng</h4>
    <button (click)="cancel()" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="box">
        <div class="qrCode">
            <img src="/content/images/logo/qrcodefbinvoice.png" alt="">
        </div>
        <h2 class="title">hỗ trợ sử dụng chữ ký số easyca<br>hỗ trợ kịp thời - thảo luận hữu ích</h2>
        <div class="link">
            <p><i class="fa fa-check-circle" aria-hidden="true"></i>Quét mã QR trên Smartphone để tìm kiếm</p>
            <p><i class="fa fa-check-circle" aria-hidden="true"></i>Cách 2: Nhấn vào link <a
                href="https://www.facebook.com/groups/phanmemhoadondientu" target="_blank"
                style="font-weight: bold; color: blue;">https://www.facebook.com/groups/phanmemhoadondientu</a> click
                "tham gia nhóm"</p>
            <p style="text-align: center; color: red; font-weight: bold; margin: 0px !important;">Tham gia nhóm để nhận
                hỗ trợ tốt nhất</p>
        </div>
        <div class="left">
            <p><i class="fa fa-check-circle" aria-hidden="true"></i>Hỗ trợ, xử lý mọi khó khăn 24/7</p>
            <p><i class="fa fa-check-circle" aria-hidden="true"></i>Cập nhật văn bản, nghị định về kế toán/thuế mới nhất
            </p>
        </div>
        <div class="right">
            <p><i class="fa fa-check-circle" aria-hidden="true"></i>Trao đổi chuyên sâu về kế toán, cung cấp tài liệu
            </p>
            <p><i class="fa fa-check-circle" aria-hidden="true"></i>Lắng nghe mọi đánh giá của khách hàng về sản phẩm
            </p>
        </div>
    </div>
    <div class="footer">
        <p style="color: #fff; margin: 0px !important; ">Nếu có vướng mắc, Anh/chị hãy đăng bài viết kèm hình ảnh (nếu
            có) để nhận hỗ trợ nhé!</p>

    </div>

</div>
<div class="modal-footer">
    <button (click)="cancel()" _ngcontent-rfv-c247="" type="button" data-dismiss="modal" class="btn btn-secondary">
        <fa-icon _ngcontent-rfv-c247="" icon="ban" class="ng-fa-icon" ng-reflect-icon="ban">
            <svg role="img" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ban"
                 class="svg-inline--fa fa-ban fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="currentColor"
                      d="M256 8C119.034 8 8 119.033 8 256s111.034 248 248 248 248-111.034 248-248S392.967 8 256 8zm130.108 117.892c65.448 65.448 70 165.481 20.677 235.637L150.47 105.216c70.204-49.356 170.226-44.735 235.638 20.676zM125.892 386.108c-65.448-65.448-70-165.481-20.677-235.637L361.53 406.784c-70.203 49.356-170.226 44.736-235.638-20.676z"></path>
            </svg>
        </fa-icon>&nbsp;
        <span _ngcontent-rfv-c247="" jhitranslate="userManagement.home.cancel"
              ng-reflect-jhi-translate="userManagement.home.cancel">Hủy</span>
    </button>
    <button (click)="markAsRead()" type="button" class="btn btn-success">Đã xem</button>
</div>







