<form [formGroup]="changeCertPINForm">
<div class="modal-header">
    <h5 class="modal-title" jhiTranslate="webappApp.certificate.changeCertPIN.header">Modal title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
</div>
<div class="modal-body">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">{{'webappApp.certificate.serial' | translate}}:</div>
                <div class="col-md-9 bold">{{certificate?.serial}}</div>
            </div>
            <div class="row mg-top-10">
                <div class="col-md-3">{{'webappApp.certificate.alias' | translate}}:</div>
                <div class="col-md-9 bold">{{certificate?.alias}}</div>
            </div>
        </div>
    </div>
        <div class="row mt-3">
            <div class="col-12 form-group">
                <h6 jhiTranslate="webappApp.certificate.changeCertPIN.currentPIN">Current PIN</h6>
                <input required="required" class="form-control" type="password" formControlName="currentPINInput"
                       [placeholder]="'webappApp.certificate.changeCertPIN.placeholder' | translate">
            </div>
            <div class="col-12 form-group">
                <h6 jhiTranslate="webappApp.certificate.changeCertPIN.newPIN.newPIN">New PIN</h6>
                <input required="required" class="form-control" type="password" formControlName="newPINInput"
                       [placeholder]="'webappApp.certificate.changeCertPIN.placeholder' | translate">
                <small class="form-text text-danger"
                       *ngIf="changeCertPINForm.get('newPINInput')?.errors?.minlength"
                       jhiTranslate="webappApp.certificate.changeCertPIN.newPIN.minlength">
                    Your PIN is required to be at least 4 characters.
                </small>

                <small class="form-text text-danger"
                       *ngIf="changeCertPINForm.get('newPINInput')?.errors?.maxlength"
                       jhiTranslate="webappApp.certificate.changeCertPIN.newPIN.maxlength">
                    Your PIN cannot be longer than 50 characters.
                </small>
            </div>
            <div class="col-12 form-group">
                <h6 jhiTranslate="webappApp.certificate.changeCertPIN.confirmPIN.confirmPIN">Confirm PIN</h6>
                <input required="required" class="form-control" type="password" formControlName="confirmPINInput"
                       [placeholder]="'webappApp.certificate.changeCertPIN.placeholder' | translate">
                <small class="form-text text-danger"
                       *ngIf="changeCertPINForm.get('confirmPINInput')?.errors?.minlength"
                       jhiTranslate="webappApp.certificate.changeCertPIN.confirmPIN.minlength">
                    Your confirmation PIN is required to be at least 4 characters.
                </small>

                <small class="form-text text-danger"
                       *ngIf="changeCertPINForm.get('confirmPINInput')?.errors?.maxlength"
                       jhiTranslate="webappApp.certificate.changeCertPIN.confirmPIN .maxlength">
                    Your confirmation PIN cannot be longer than 50 characters.
                </small>
            </div>
            <h6 *ngIf="isAuthenOTP">OTP</h6>
            <input required="required" class="form-control" type="text" *ngIf="isAuthenOTP"
                   [placeholder]="'webappApp.certificate.changeCertPIN.OTP' | translate">
        </div>
</div>
<div class="modal-footer text-right">
    <div class="col-md-12">
        <button type=submit class="btn btn-success" (click)="changePassword()">
            {{'webappApp.certificate.changeCertPIN.save' | translate}}</button>
        <button type=submit class="btn btn-light" (click)="cancel()" >
            {{'webappApp.certificate.changeCertPIN.cancel' | translate}}</button>
    </div>
</div>
</form>
