.mg-top-10 {
  margin-top: 10px;
}

.width-save {
  width: 60px;
}

.width-cancel {
  width: 80px;
  margin-left: 70%;
}

.bold {
  font-weight: bold;
}

.password-form {
  width: 100%;
  display: inherit;
}

.rm-pd {
  padding: 0px;
}

.rm-pd-left {
  padding-right: 0px;
}
