<div class="modal-header">
    <h5 class="modal-title" jhiTranslate="webappApp.certificate.changePassword.changePassword">Modal title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
</div>
<div class="modal-body">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">{{'webappApp.certificate.serial' | translate}}:</div>
                <div class="col-md-9 bold">{{certificate?.serial}}</div>
            </div>
            <div class="row mg-top-10">
                <div class="col-md-3">{{'webappApp.certificate.alias' | translate}}:</div>
                <div class="col-md-9 bold">{{certificate?.alias}}</div>
            </div>
        </div>
    </div>
    <form [formGroup]="passwordForm">
        <div>
            <h6 jhiTranslate="webappApp.certificate.changePassword.oldPassword">Old Password</h6>
            <input required="required" class="form-control" type="text" formControlName="currentPasswordInput"
                   [placeholder]="'webappApp.certificate.changePassword.placeholder' | translate"> <br>
            <h6 jhiTranslate="webappApp.certificate.changePassword.newPassword">New Password</h6>
            <input required="required" class="form-control" type="text" formControlName="newPasswordInput"
                   [placeholder]="'webappApp.certificate.changePassword.placeholder' | translate"> <br>
            <h6 jhiTranslate="webappApp.certificate.changePassword.confirmPassword">Confirm Password</h6>
            <input required="required" class="form-control" type="text" formControlName="confirmPasswordInput"
                   [placeholder]="'webappApp.certificate.changePassword.placeholder' | translate"> <br>
            <h6 *ngIf="isAuthenOTP">OTP</h6>
            <input required="required" class="form-control" type="text" *ngIf="isAuthenOTP"
                   [placeholder]="'webappApp.certificate.changePassword.OTP' | translate">
        </div>
    </form>
    <div class="modal-footer">
        <div class="row mg-top-10">
            <form #f="ngForm" class="password-form">
                <div class="col-md-3 rm-pd-left">
                    <button type=submit class="btn btn-success width-save" (click)="changePassword()"
                            [disabled]="!f.form.valid">
                        {{'webappApp.certificate.changePassword.save' | translate}}</button>
                </div>
                <div class="col-md-3 rm-pd-left">
                    <button type=submit class="btn btn-success width-cancel" (click)="cancel()"
                            [disabled]="!f.form.valid">
                        {{'webappApp.certificate.changePassword.cancel' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
