<div class="modal-header header-custom">
    <h5 class="modal-title">Chọn mẫu chữ ký</h5>
    <a class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')" >
        <span aria-hidden="true">&times;</span>
    </a>
</div>

<div class="modal-body">
    <div class="card-body">
        <div class="card mb-3 searching">
            <div *ngFor="let template of templates ">
                <div>
                    {{template.htmlTemplate}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer footer-custom">
<!--    <button class="btn btn-success btn-sm float-right mr-1" [disabled]="!selectedFiles || this.selectedFiles.length == 0" (click)="upload()">-->
<!--        Upload</button>-->
    <button type="button" class="btn btn-danger btn-sm float-right" (click)="activeModal.dismiss('Cross click')">Hủy</button>
</div>

